<template>
  <view class="content">
    <view class="input-box">
      <view class="section">
        <text>收 货 人</text>
        <input type="text" placeholder="姓名" v-model="list.receiver" />
      </view>
      <view class="section">
        <text>手机号码</text>
        <input type="text" placeholder="11位手机号码" v-model="list.mobile" />
      </view>
      <!-- 底部弹窗 -->
      <picker
        mode="region"
        @change="bindRegionChange"
        :value="region"
        :custom-item="customItem"
      >
        <view class="section">
          <text>所在地区</text>
          <view v-if="lcat || list.province || list.city || list.area" class="pca" v-model="list"
            >{{ list.province }} {{ list.city }} {{ list.area }}</view
          >
          <view v-else class="pca" v-model="region"
            >{{ region[0] }} {{ region[1] }} {{ region[2] }}</view
          >
          <view class="arrow">
            <image src="../../../static/icon/more.png"></image>
          </view>
        </view>
      </picker>
      <view class="section">
        <text>详细地址</text>
        <input
          type="text"
          placeholder="如楼号/单元/门牌号"
          v-model="list.addr"
        />
        <image src="../../../static/icon/myAddr.png" @click="toMap"></image>
      </view>
    </view>
    <view class="btn-box">
      <view class="keep" @click="keep">
        <text>保存收货地址</text>
      </view>
      <view
        v-if="list.addrId"
        class="delete"
        @click="del(list.addrId, list.commonAddr)"
      >
        <text>删除收货地址</text>
      </view>
    </view>
  </view>
</template>

<script>
import {
  addrInfo,
  delAddress,
  updateAddr,
  addAddr,
} from "../../../services/user";
const chooseLocation = requirePlugin("chooseLocation");
export default {
  data() {
    return {
      region: ["北京市", "市辖区", "东城区"],
      customItem: "",
      list: {
        addr: "",
        addrId: "",
        area: "",
        areaId: 110101000000,
        city: "",
        cityId: 110100000000,
        commonAddr: "",
        mobile: "",
        province: "",
        provinceId: 110000000000,
        receiver: "",
      },
      lcat:{}
    };
  },
  onLoad(options) {
    this.init(options.addrId);
  },
  onShow() {
    const location = chooseLocation.getLocation(); // 如果点击确认选点按钮，则返回选点结果对象，否则返回null
    console.log(location);
    this.lcat = location;
    if (location) {
      this.list.province = location.province ? location.province : "";
      this.list.city = location.city ? location.city : "";
      this.list.area = location.district ? location.district : "";
      this.list.addr = location.address;
    }
    // console.log(this.list);
  },
  onUnload() {
    // 页面卸载时设置插件选点数据为null，防止再次进入页面，geLocation返回的是上次选点结果
    chooseLocation.setLocation(null);
  },
  methods: {
    // 回显数据
    async init(addrId) {
      if (addrId) {
        // console.log(addrId);
        this.list = await addrInfo(addrId);
        // console.log(this.list);
      }
    },
    // 保存收货地址
    async keep() {
      // 手机号正则
      const phone = /^1[3456789]\d{9}$/;
      // console.log(this.list);
      if (this.list.addrId) {
        //编辑收货地址
        if (!this.list.receiver) {
          uni.showToast({
            title: "请输入收货人姓名",
            icon: "none",
          });
        } else if (!this.list.mobile) {
          uni.showToast({
            title: "请输入手机号码",
            icon: "none",
          });
        } else if (!phone.test(this.list.mobile)) {
          uni.showToast({
            title: "请输入正确的手机号码",
            icon: "none",
          });
        } else if (!this.list.addr) {
          uni.showToast({
            title: "请输入详细地址",
            icon: "none",
          });
        } else {
          await updateAddr(this.list);
          uni.navigateBack({
            delta: 1,
          });
        }
      } else {
        //新增收货地址
        if (!this.list.receiver) {
          uni.showToast({
            title: "请输入收货人姓名",
            icon: "none",
          });
        } else if (!this.list.mobile) {
          uni.showToast({
            title: "请输入手机号码",
            icon: "none",
          });
        } else if (!phone.test(this.list.mobile)) {
          uni.showToast({
            title: "请输入正确的手机号码",
            icon: "none",
          });
        } else if (!this.list.addr) {
          uni.showToast({
            title: "请输入详细地址",
            icon: "none",
          });
        } else {
          this.list.addrId = 0;
          if(!this.lcat){
            this.list.province = this.list.province? this.list.province : this.region[0];
            this.list.city = this.list.city? this.list.city : this.region[1];
            this.list.area = this.list.area? this.list.area : this.region[2];
          }
          await addAddr(this.list);
          uni.navigateBack({
            delta: 1,
          });
        }
      }
    },
    // 删除收货地址
    del(addrId, commonAddr) {
      // 确认对话框
      wx.showModal({
        content: "确定要删除此收货地址吗",
        confirmColor: "#eb2444",
        success(res) {
          if (res.confirm) {
            // console.log(addrId);
            if (commonAddr) {
              uni.showToast({
                title: "默认地址无法删除",
                icon: "none",
              });
            } else {
              delAddress(addrId);
              uni.navigateBack({
                delta: 1,
              });
            }
          } else if (res.cancel) {
            console.log("用户点击取消");
          }
        },
      });
    },
    // 点击确定
    bindRegionChange(e) {
      this.region = e.detail.value;
      this.list.province = e.detail.value[0];
      this.list.city = e.detail.value[1];
      this.list.area = e.detail.value[2];
      // console.log(e);
    },
    // 地图选址
    toMap() {
      const key = "UBXBZ-VXVYX-EHN4R-TMHSE-Y6P4Z-NQBCQ"; //使用在腾讯位置服务申请的key
      const referer = "八维电商平台"; //调用插件的app的名称
      const location = JSON.stringify({
        latitude: 39.89631551,
        longitude: 116.323459711,
      });
      const category = "生活服务,地图选址";

      uni.navigateTo({
        url:
          "plugin://chooseLocation/index?key=" +
          key +
          "&referer=" +
          referer +
          "&location=" +
          location +
          "&category=" +
          category,
      });
    },
  },
};
</script>

<style>
.content {
  height: 100%;
  box-sizing: border-box;
  color: #333;
}
.input-box {
  margin-bottom: 50rpx;
  background: #fff;
  padding: 0 20rpx;
}
.btn-box {
  padding: 5px 10px;
  width: 100%;
  text-align: center;
  margin: auto;
}
.keep {
  width: 60%;
  height: 80rpx;
  line-height: 80rpx;
  margin: auto;
  text-align: center;
  border: 1rpx solid #eb2444;
  border-radius: 50rpx;
  color: #fff;
  background-color: #eb2444;
}
.keep text {
  font-size: 30rpx;
}
.section {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 28rpx;
  padding: 30rpx 0;
  line-height: 48rpx;
  height: 100%;
  box-sizing: border-box;
  border-bottom: 2rpx solid #e5e5e5;
}
.section image {
  width: 50rpx;
  height: 50rpx;
  margin-right: 20rpx;
  display: inline-block;
  overflow: hidden;
}
.section text {
  width: 20%;
  color: #333;
}
.section input {
  width: 70%;
  padding: 0 20rpx;
  color: #333;
}
.arrow {
  width: 28rpx;
  height: 28rpx;
}
.arrow image {
  width: 100%;
  height: 100%;
  vertical-align: top;
}
.pca {
  width: 70%;
  padding: 0 20rpx;
}
.delete {
  margin: auto;
  margin-top: 40rpx;
  color: #eb2444;
  background-color: #f8f0f1b6;
  border: 1rpx solid #eb2444;
  width: 60%;
  height: 80rpx;
  line-height: 80rpx;
  text-align: center;
  border-radius: 50rpx;
}
.delete text {
  font-size: 30rpx;
}
</style>