<template>
  <view class="content">
    <view class="main">
      <!-- 没有收货地址 -->
      <view v-if="list.length === 0" class="empty">
        <view class="img">
          <image src="http://jiales.gz-yami.com/addr.png"></image>
        </view>
        <view class="txt">您还没有收货地址</view>
      </view>
      <!-- 数据列表 -->
      <radio-group @change="radioChange">
        <view
          class="address"
          v-for="(val, index) in list"
          :key="index"
          @click="toSubmit(val.addrId)"
        >
          <view class="personal">
            <view class="info">
              <text class="name">{{ val.receiver }}</text>
              <text class="tel">{{ val.mobile }}</text>
              <image
                @click="toEdit(val.addrId)"
                src="../../../static/icon/revise.png"
              ></image>
            </view>
            <view class="addr"
              >{{ val.province }}{{ val.city }}{{ val.area
              }}{{ val.addr }}</view
            >
          </view>
          <view class="select-btn">
            <view class="box">
              <radio
                color="#eb2444"
                :value="val.addrId"
                :checked="index === current"
              ></radio>
              <text>设为默认地址</text>
            </view>
          </view>
        </view>
      </radio-group>
    </view>
    <view class="footer">
      <text class="add" @click="toEdit()">新增收货地址</text>
    </view>
  </view>
</template>

<script>
import { addressList, defaultAddr } from "../../../services/user";
export default {
  data() {
    return {
      list: [],
      current: 0,
      type: "",
      idList: [],
    };
  },
  onLoad(options) {
    this.type = options.type;
    this.idList = options.idList;
    // console.log(this.type,this.idList);
  },
  onShow() {
    this.init();
  },
  methods: {
    // 获取地址数据
    async init() {
      this.list = await addressList({});
      // console.log(res, "地址数据");
    },
    // 跳转编辑页面
    toEdit(addrId) {
      if (addrId) {
        this.$toPage({
          url: "/pages/address/editAddress/index",
          query: { addrId },
        });
      } else {
        this.$toPage({
          url: "/pages/address/editAddress/index",
        });
      }
    },
    // 选择默认地址
    radioChange(e) {
      for (let i = 0; i < this.list.length; i++) {
        if (this.list[i].addrId === Number(e.detail.value)) {
          this.current = i;
          break;
        }
      }
      const data = defaultAddr(Number(e.detail.value));
    },
    // 选择收货地址回退提交订单页面
    toSubmit(id) {
      if (this.type === "order") {
        this.$toPage({
          url: "/pages/submit/index",
          query: {
            addrId: id,
            idList: this.idList,
          },
          redirect: true,
        });
      }
    },
  },
};
</script>

<style>
.content {
  height: 100%;
  box-sizing: border-box;
  color: #333;
  background-color: #f7f7f7;
}
.main {
  margin-top: 20rpx;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100rpx;
  line-height: 100rpx;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 -1rpx 8rpx rgba(0, 0, 0, 0.05);
}
.add {
  font-size: 32rpx;
  color: #eb2444;
}
.address {
  margin-bottom: 15rpx;
  width: 100%;
  background-color: #fff;
  border-bottom: 2rpx solid #e9eaec;
}
.personal {
  position: relative;
  padding: 20rpx 30rpx;
  border-bottom: 3rpx dashed #e9eaec;
}
.select-btn {
  padding: 15rpx 30rpx;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.addr {
  font-size: 26rpx;
  margin: 10rpx 0;
}
.name {
  margin-right: 30rpx;
  font-size: 32rpx;
  display: inline-block;
}
.tel {
  font-size: 30rpx;
}
.info image {
  position: absolute;
  right: 30rpx;
  top: 46rpx;
  width: 40rpx;
  height: 40rpx;
  margin-left: 50rpx;
  vertical-align: middle;
}
.box {
  font-size: 26rpx;
}
.empty .img {
  text-align: center;
  margin-top: 130rpx;
}
.empty .txt {
  margin-top: 30rpx;
  font-size: 24rpx;
  text-align: center;
  color: #999;
}
.empty .img image {
  width: 100rpx;
  height: 100rpx;
  display: block;
  margin: auto;
}
</style>