<template >
  <view class="shopItem">
    <view class="lt-content" v-if="$slots['lt-content']">
      <slot name="lt-content" />
    </view>
    <view class="si-img">
      <image :src="pic"></image>
    </view>
    <view class="si-content">
      <h2 :style="{'-webkit-line-clamp': titleLine}">{{prodName}}</h2>
      <h3 v-if="brief && titleLine === 1" class="brief">{{brief}}</h3>
      <h3 v-if="skuName" class="skuname">{{skuName}}</h3>
      <h4 class="price">￥{{price}}</h4>
      <view class="rb-content" v-if="$slots['rb-content']">
        <slot name="rb-content" />
      </view>
    </view>
  </view>
</template>
<script>
export default {
  props: {
    prodName: String,
    pic: String,
    skuName: String,
    brief: String,
    price: String,
    titleLine: {
      default: 1,
      type: Number
    }
  }
}
</script>
<style scoped>
  .shopItem {
    width: 100%;
    display: flex;
    position: relative;
  }
  .si-img {
    width: 146rpx;
    height: 146rpx;
    overflow: hidden;
  }
  .si-img image {
    width: 100%;
    height: 100%;
  }
  .skuname {
    padding: 4rpx 10rpx;
    color: rgb(153, 153, 153);
    background: #faf9f9;
    display: inline-block;
  }
  .si-content {
    flex: 1;
    box-sizing: border-box;
    padding-left: 20rpx;
    overflow: hidden;
    position: relative;
  }
  .si-content h2 {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  .si-content h4 {
    font-weight: 600;
    color: rgb(216, 60, 74);
  }
  .brief {
    color: #b2b4b3;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  .rb-content {
    position: absolute;
    right: 0;
    bottom: 4rpx;
  }
  .lt-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .price{
    position: absolute;
bottom: 10rpx;
left: 10rpx;
  }
</style>
