/<template>
  <view>
      <image :src="defaultSrc" @error="handleError" />
  </view>
</template>

<script>
import image from '../../static/image.jpg'
export default {
    props: {
        src:String,
    },
    data(){
        return {
            defaultSrc : this.src
        }
    },
    methods:{
        handleError(error)
        {
            this.defaultSrc = image;
        }
    }
}
</script>

<style>

</style>