<template>
    <view class="container">
        <view class="order">
            <view class="order-tit">
                <text data-sts="index" v-for="(item, index) in navList" :key="index" class="nav-item"
                    :class="{ current: tabCurrentIndex === index }" @click="tabClick(index)">
                    {{item.text}}
                </text>
            </view>
        </view>
        <view class="mian" v-if="gitorderList.records.length>0">
            <view class="prod-item" v-for="(item,index)  in gitorderList.records" :key="index">
                <view class="order-num">
                    <text>订单编号: {{item.orderNumber}}</text>
                    <view class="order-state">
                        <text class="order-sts red">待支付</text>
                    </view>
                </view>
                <view v-for="val in item.orderItemDtos" :key="val.prodId" @click="gotoOrder(item.orderNumber)">
                    <!--11 -->
                    <view data-ordernum="1569976822110752768" class="item-cont" v-if="item.status === 1">
                        <view class="prod-pic">
                            <image :src="val.pic"></image>
                        </view>
                        <view class="prod-info">
                            <view class="prodname">
                                {{val.prodName}}
                            </view>
                            <view class="prod-info-cont">{{val.skuName}} </view>
                            <view class="price-nums">
                                <text class="prodprice">
                                    <text class="symbol">￥</text>
                                    <text class="big-num">{{val.price}}</text>
                                    <text class="small-num">.00</text>
                                </text>
                                <text class="prodcount">x{{val.prodCount}}</text>
                            </view>
                        </view>
                    </view>
                </view>
                <view class="total-num" v-for="(val,i) in item.orderItemDtos" :key="i">
                    <text class="prodcount">共{{val.prodCount}}件商品</text>
                    <view class="prodprice">
                        合计:
                        <text class="symbol">￥</text>
                        <text class="big-num">{{val.price}}</text>
                        <text class="small-num">.00</text>
                    </view>
                </view>
                <view class="prod-foot">
                    <view class="btn">
                        <text class="button" @click="delCancel(item.orderNumber)">取消订单</text>
                        <text class="button warn">再次购买</text>
                        <text class="button warn">付款</text>
                    </view>
                </view>
            </view>
            <!-- <view class="prod-item"></view> -->
        </view>
        <view class="empty" v-else>
            还没有任何相关订单
        </view>

    </view>
</template>

<script>
import { getorderList, getCancel } from '../../services/user';

export default {
    data() {
        return {
            tabCurrentIndex: 0,
            gitorderList: [],
            Cancel: [],
            navList: [
                {
                    state: 0,
                    text: '全部',
                    orderList: []
                },
                {
                    state: 1,
                    text: '待支付',
                    orderList: []
                },
                {
                    state: 2,
                    text: '待发货',
                    orderList: []
                },
                {
                    state: 3,
                    text: '待收货',
                    orderList: []
                },
                {
                    state: 4,
                    text: '已完成',
                    orderList: []
                }
            ]
        };
    },
    onLoad(options) {
        // console.log(options)
        // 页面显示是默认选中第一个
        this.tabCurrentIndex = Number(options.status);

        this.orderlist(options.status)
        // console.log(this.orderlist(options.status));

        setTimeout(function () {
            // console.log('start pulldown');
        }, 1000);
        uni.startPullDownRefresh();
    },
    onPullDownRefresh() {
        // console.log('refresh');
        setTimeout(function () {
            uni.stopPullDownRefresh();
        }, 1000);
    },


    methods: {
        delCancel(orderNumber) {
            console.log(orderNumber);
            // 在这里调用接口？
            getCancel( orderNumber )
            this.orderlist(this.tabCurrentIndex)
        },
        gotoOrder(orderNumber) {
            // console.log(orderNumber, '-----');
            this.$toPage({
                url: `/pages/detail/orderlistDetail?orderNumber=${orderNumber}`,

            })
            // console.log(this.$toPage);
        },
        goProdData(id) {
            this.$toPage({
                url: '/pages/detail/prodDataDetail',
                query: { id },
            })
        },
        //顶部tab点击
        tabClick(index) {
            // console.log(index)
            this.tabCurrentIndex = index;
            this.orderlist(index)

        },

        async orderlist(status) {
            this.gitorderList = await getorderList({  status })
            // console.log(this.gitorderList, 'gitorderList');
        }
        // 跳转
    },

}
</script>

<style lang="scss">
* {
    margin: 0;
    padding: 0;

}

.order {
    width: 100%;
    height: 100rpx;
}

.order-tit {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    z-index: 999;
    width: 100%;
    height: 100rpx;
    line-height: 100rpx;
    background-color: #fff;
    border-bottom: 2rpx solid #f4f4f4;
}



.main {
    margin-top: 100rpx;
}

.prod-item {
    background-color: #fff;
    // margin-top: 120rpx;
    font-size: 28rpx;
}


.prod-item .order-num {
    padding: 20rpx 30rpx;
    display: flex;
    justify-content: space-between;
    font-size: 28rpx;
}

.order-state {
    display: flex;
    align-items: center;
    font-size: 24rpx;
}

.order-state .order-sts.red {
    color: #eb2444;
}

.prod-item .item-cont {
    display: flex;
    align-items: center;
    padding: 20rpx 30rpx;
    border-radius: 10rpx;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    background: #fafafa;
}

image {
    width: 150rpx;
    height: 150rpx;
    padding-right: 20rpx;
}

.prod-item .total-num {
    text-align: right;
    padding: 20rpx 30rpx;
    font-size: 28rpx;
}


.prod-item .total-num .prodcount {
    margin-right: 20rpx;
}

.prod-item .total-num .prodprice {
    display: inline-block;
    color: #333;
}

.symbol {
    font-size: 24rpx;
}

.big-num {
    font-size: 32rpx;
}

.small-num {
    font-size: 24rpx;
}

.prod-item .prod-foot {
    padding: 20rpx 30rpx;
    border-top: 2rpx solid #e6e6e6;
}

.prod-item .prod-foot .btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.button {
    margin-left: 10px;
    font-size: 26rpx;
    background: #fff;
    padding: 10rpx 30rpx;
    border-radius: 80rpx;
    border: 2rpx solid #e1e1e1;
}

.empty {
    font-size: 24rpx;
    margin-top: 100rpx;
    text-align: center;
    color: #999;
    height: 300rpx;
    line-height: 300rpx;
}

.empty {
    font-size: 26rpx;
    margin-top: 60rpx;
    text-align: center;
    color: #999;
    height: 200rpx;
    line-height: 200rpx;
}

.button.warn {
    color: #eb2444;
    border-color: #eb2444;
}

.prod-item .item-cont .prod-info .prodname {
    font-size: 28rpx;
    line-height: 36rpx;
    max-height: 86rpx;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    word-break: break-all;
}

.prod-item .item-cont .prod-info .prod-info-cont {
    color: #999;
    line-height: 40rpx;
    margin-top: 10rpx;
    font-size: 22rpx;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    word-break: break-all;
}

.prod-item .price-nums .prodcount {
    position: absolute;
    // left: 300px;
    right: 10px;
    color: #999;
    font-family: verdana;
}

.order-tit {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    z-index: 999;
    width: 100%;
    height: 100rpx;
    line-height: 100rpx;
    background-color: #fff;
    border-bottom: 2rpx solid #f4f4f4;

    .nav-item {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        position: relative;
        font-size: 28rpx;
        color: 999;
        width: 100rpx;
        text-align: center;

        &.current {
            color: #fe7373;

            &:after {
                content: '';
                position: absolute;
                left: 50%;
                bottom: 0;
                transform: translateX(-50%);
                width: 80%;
                height: 0;
                border-bottom: 2px solid #fe7373;
            }
        }
    }
}
</style>