<template>
    <view class="container">
        <view class="binding-phone">
            <view class="item">
                <text class="item-tip">手机号码 : </text>
                <input class="num-inp" type="number" bindinput="onPhoneInput" maxlength="11" placeholder="输入手机号码">
            </view>
            <view class="item">
                <text class="item-tip">验证码 : </text>
                <input bindinput="onPhoneInput" maxlength="11" type="number" placeholder="请输入验证码">
                <text class="get-code gray" @click="geCode">获取验证码</text>
            </view>
        </view>
        <view class="btn-box">
            <text class="sure-btn gray">确定</text>
            <button class="btn-get" open-type="getPhoneNumber" @getphonenumber="getPhoneNumber">获取手机号</button>
        </view>

    </view>
</template>

<script>
import { getcode } from '../../services/user';

import WXBizDataCrypt from "@/common/WXBizDataCrypt.js"
export default {
    data() {
        return {
            code: []
        }
    },
    onLoad(options) {
    },
    methods: {
        async geCode(){
             getcode({mobile:"16636102199"})
        },
        getPhoneNumber(e) {
            console.log(e.detail.code)
            // console.log(e.detail.errMsg)
            // console.log(e.detail.iv)
            // console.log(e.detail.encryptedData)
            let iv = e.detail.iv;
            let encryptedData = e.detail.encryptedData;
            let pc = new WXBizDataCrypt('wxcf8ed0f704a5551c', session_key);
            let data = pc.decryptData(encryptedData, iv);
            console.log(data)
        },

    },

}

</script>

<style>
.container {
    height: 100%;
    box-sizing: border-box;
    color: #333;
    font-family: helvetica, 'Heiti SC', PingFangSC-Light;
    position: relative;
}

.btn-get {
    background: white;
    font-size: 24rpx;
    border: 1px solid red;
    color: red;
    width: 188rpx;
    height: 50rpx;
    line-height: 50rpx;
    text-align: center;
    position: absolute;
    right: 2px;
    top: 13px;
    z-index: 999;
}

.binding-phone {
    height: 100%;
    margin-top: 20rpx;
    background: #fff;
}

.binding-phone .item {
    display: flex;
    padding: 20rpx 0;
    height: 60rpx;
    line-height: 60rpx;
    border-bottom: 2rpx solid #e1e1e1;
}

.binding-phone .item .item-tip {
    width: 140rpx;
    font-size: 28rpx;
    padding-left: 20rpx;
}

.binding-phone .item input {
    flex: 1;
    height: auto;
    padding: 0 20rpx;
    font-size: 28rpx;
}

.binding-phone .item {
    display: flex;
    padding: 20rpx 0;
    height: 60rpx;
    line-height: 60rpx;
    border-bottom: 2rpx solid #e1e1e1;
}

.binding-phone .item .item-tip {
    width: 140rpx;
    font-size: 28rpx;
    padding-left: 20rpx;
}

.binding-phone .item input {
    flex: 1;
    height: auto;
    padding: 0 20rpx;
    font-size: 28rpx;
}

.binding-phone .item .get-code {
    font-size: 30rpx;
    color: #999;
    margin-right: 20rpx;
    text-align: center;
}

.binding-phone .item .get-code.gray {
    color: #3eb370;
}

.btn-box {
    padding: 0 20rpx;
    margin-top: 60rpx;
}

.btn-box .sure-btn {
    display: block;
    font-size: 32rpx;
    color: #fff;
    background: #3eb370;
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 20rpx 0;
    border-radius: 50rpx;
}

.btn-box .sure-btn.gray {
    background: #e1e1e1;
    margin-bottom: 30rpx;
}
</style>