<template>
  <view class="container">
    <view class="search-bar">
      <view bindtap="toSearchPage" class="search-box" @click="toSearch">
        <image src="../../static/icon/search.png" class="search-img"></image>
        <text class="sear-input">搜索您想要的商品</text>
      </view>
    </view>
    <view class="main">
      <scroll-view class="leftmenu">
        <view
          v-for="(item, index) in list"
          :key="item.categoryId"
          @click="leftTab(index, item.categoryId)"
          :class="['leftmenu_item', active == index ? 'active' : '']"
        >
          {{ item.categoryName }}
        </view>
      </scroll-view>
      <scroll-view class="rightcontent" scroll-y>
        <view class="adver-map">
          <image :src="categoryImg" class="categoryImg"></image>
        </view>
        <view class="cont-item">
          <view
            v-for="item in productList"
            :key="item.categoryId"
            class="productList_item"
            @click="toPge(item.prodId)"
          >
            <view class="img"><image :src="item.pic"></image></view>
            <view class="info">
              <view class="biaoti">{{ item.prodName }}</view>
              <view class="xiaobiaoti">{{ item.brief }}</view>
              <view>
                <text>￥</text>
                <text class="nums">{{ item.price }}</text>
                <text>.00</text>
              </view>
            </view>
          </view>
        </view>
      </scroll-view>
    </view>
  </view>
</template>

<script>
import { category, product, prodListDetail } from "../../services/user";
export default {
  data() {
    return {
      list: [],
      categoryImg: "",
      active: 0,
      productList: [],
    };
  },
  onLoad() {
    this.Category();
  },
  methods: {
    async Category() {
      this.list = await category({});
      this.categoryImg = this.list[0].pic;
      let cur = await product({ categoryId: this.list[0].categoryId });
      this.productList = cur.records;
      console.log(this.list, "分类数据");
    },
    async leftTab(index, categoryId) {
      this.active = index;
      this.categoryImg = this.list[index].pic;
      console.log(categoryId);
      let cur = await product({ categoryId });
      this.productList = cur.records;
      console.log(this.productList, "ss");
    },
    toPge(id) {
      this.$toPage({
        url: "/pages/detail/prodDataDetail",
        query: { id },
      });
    },
    // 跳转搜索页面
    toSearch() {
      this.$toPage({
        url: "/pages/search/index",
      });
    },
  },
};
</script>

<style>
.container {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.search-bar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  color: #777;
  background: #fff;
  box-shadow: 0 2rpx 6rpx rgba(0, 0, 0, 0.07);
  z-index: 3;
  padding: 20rpx 0;
}
.search-bar .search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60rpx;
  background: #f7f7f7;
  z-index: 999;
  width: 92%;
  border-radius: 50rpx;
  text-align: center;
  margin: auto;
}
.search-bar .search-box .search-img {
  width: 32rpx;
  height: 32rpx;
  margin-right: 10rpx;
}
.sear-input {
  font-size: 28rpx;
}
.main {
  position: fixed;
  display: flex;
  overflow: hidden;
  margin-top: 100rpx;
  height: calc(100% - 100rpx);
}
.leftmenu {
  width: 200rpx;
  height: 100%;
  box-sizing: border-box;
  background-color: #f5f6f7;
  overflow: scroll;
  z-index: 2;
  font-size: 30rpx;
}
.rightcontent {
  width: 550rpx;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  background-color: #fff;
  z-index: 1;
}
.rightcontent .adver-map {
  width: auto;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  margin: 30rpx 20rpx 0;
}
.rightcontent .cont-item {
  padding: 0 20rpx 20rpx 20rpx;
}
.cont-item text {
  color: red;
}
.categoryImg {
  height: 200rpx;
}
.leftmenu_item {
  height: 100rpx;
  line-height: 100rpx;
  text-align: center;
}
.active {
  color: red;
}
.productList_item {
  display: flex;
  margin-bottom: 20rpx;
}
.productList_item .img {
  width: 30%;
}
.productList_item .img image {
  width: 150rpx;
  height: 150rpx;
}
.productList_item .info {
  width: 70%;
}
.biaoti {
  font-size: 30rpx;
}
.xiaobiaoti {
  font-size: 26rpx;
  color: #ccc;
}
.nums {
  color: red;
}
</style>
