<!-- 我的收藏商品 -->
<template>
  <view class="content">
    <view v-if="list">
      <view v-for="val in list" :key="val.prodId" class="prod-items" @click="toPage(val.prodId)">
        <view class="hot-imagecont">
          <image :src="val.pic" class="hotsaleimg"></image>
        </view>
        <view class="hot-text">
          <view class="hotprod-text">{{ val.prodName }}</view>
          <view class="prod-text-info">
            <view class="price">
              <view class="symbol">￥</view>
              <view class="big-num">{{parseInt(val.price)}}</view>
              <view class="small-num">{{String(val.price.toFixed(2)).substring(String(val.price.toFixed(2)).length-3)}}</view>
            </view>
          </view>
        </view>
      </view>
    </view>
    <view class="empty-list" v-else>暂无商品</view>
  </view>
</template>

<script>
import { collectionList } from "../../services/user";
export default {
  data() {
    return {
      list: [],
    };
  },
  onShow() {
    this.init();
  },
  methods: {
    async init() {
      const { records } = await collectionList({
        current: 1,
        size: 10,
      });
      this.list = records;
    },
    // 跳转详情
    toPage(id){
      this.$toPage({
        url:'/pages/detail/prodDataDetail',
        query:{id}
      })
    }
  },
};
</script>

<style>
.content {
  height: 100%;
  box-sizing: border-box;
  color: #333;
}
.empty-list {
  font-size: 24rpx;
  color: #999;
  text-align: center;
  margin: 100rpx 0;
}
.prod-items {
  width: 375rpx;
  float: left;
  background: #fff;
  padding-bottom: 20rpx;
  box-sizing: border-box;
  padding: 20rpx 10rpx 10rpx 20rpx;
}
.hot-imagecont {
  border-radius: 8rpx;
  text-align: center;
  font-size: 0;
}
.hotsaleimg {
  width: 345rpx;
  height: 345rpx;
}
.hot-text {
  margin-top: 20rpx;
}
.hotprod-text {
  height: 76rpx;
  font-size: 28rpx;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #000;
}
.prod-text-info {
  position: relative;
  height: 50rpx;
  line-height: 70rpx;
  font-family: Arial;
}
.price {
  font-family: Arial;
  display: flex;
  color: #eb2444;
  padding-bottom: 10rpx;
  padding-left: 10rpx;
}
.symbol .small-num {
  font-size: 24rpx;
}
.big-num {
  font-size: 32rpx;
}
</style>