<template>
  <view class="content">
    <!-- 搜索框 -->
    <view class="search" @click="toSearch">
      <img src="../../static/icon/search.png" class="search-img" />
      <text class="placeholder">搜索</text>
    </view>
    <!-- 无缝轮播 -->
    <swiper
      indicator-dots="true"
      autoplay="true"
      class="swiper"
      circular="true"
      indicator-color="rgb(209,229,251)"
      indicator-active-color="rgba(27,125,236)"
    >
      <swiper-item
        v-for="(item, index) in list"
        :key="index"
        class="swiper-item"
      >
        <view class="imgbox" @click="goDetail">
          <image lazy-load :src="item.imgUrl" class="swimg" />
        </view>
      </swiper-item>
    </swiper>
    <!-- 宫格跳转 -->
    <view class="cat-item">
      <view
        v-bind:top="toClassifyPage"
        data-sts="1"
        class="item"
        @click="golastedProd"
      >
        <img src="../../static/icon/newProd.png" alt="" />
        <text>新品推荐</text>
      </view>
      <view
        v-bind:top="toClassifyPage"
        data-sts="1"
        class="item"
        @click="goDiscount"
      >
        <img src="../../static/icon/timePrice.png" alt="" />
        <text>限时特惠</text>
      </view>
      <view
        v-bind:top="toClassifyPage"
        data-sts="1"
        class="item"
        @click="goMoreBuy"
      >
        <img src="../../static/icon/neweveryday.png" alt="" />
        <text>每日疯抢</text>
      </view>
    </view>
    <!-- 竖滚 -->
    <view class="message-play" @click="goNoticeDetail">
      <img src="../../static/icon/horn.png" class="hornpng" />
      <swiper
        autoplay="true"
        class="swiper-cont"
        circular="true"
        vertical="true"
      >
        <swiper-item
          v-for="(item, index) in noticeList"
          :key="index"
          class="items"
        >
          {{ item.title }}
        </swiper-item>
      </swiper>
      <text class="arrow"></text>
    </view>
    <!-- 每日上新 -->
    <view class="hot-sale">
      <view class="title">
        <text>每日上新</text>
        <view class="more-prod-cont" @click="goProdList">
          <text class="more">更多</text>
          <text class="arrow"></text>
        </view>
      </view>
      <view class="hotsale-item-cont">
        <view
          v-for="item in prodList.records"
          :key="item.prodId"
          class="hotimgbox"
          @click="goProdData(item.prodId)"
        >
          <view class="hot-imagecont">
            <img :src="item.pic" class="hotsaleimg" />
          </view>
          <view class="hot-text">
            <view class="hotprod-text">{{ item.prodName }}</view>
            <view class="prod-info">{{ item.brief }}</view>
            <view class="prod-text-info">
              <view class="price">
                <text class="symbol">￥</text>
                <text class="big-num">{{ item.price }}</text>
                <text class="small-num">.00</text>
              </view>
              <img
                src="../../static/tabbar/basket-sel.png"
                class="baseket-img"
              />
            </view>
          </view>
        </view>
      </view>
    </view>
    <!-- 商城热卖 -->
    <view class="hot-sale">
      <view class="title">
        <text>商城热卖</text>
        <view class="more-prod-cont" @click="goProdList">
          <text class="more">更多</text>
          <text class="arrow"></text>
        </view>
      </view>
      <view class="hotsale-item-cont">
        <view
          v-for="item in prodList.records"
          :key="item.prodId"
          class="hotimgbox"
          @click="goProdData(item.prodId)"
        >
          <view class="hot-imagecont">
            <img :src="item.pic" class="hotsaleimg"  />
          </view>
          <view class="hot-text">
            <view class="hotprod-text">{{ item.prodName }}</view>
            <view class="prod-info">{{ item.brief }}</view>
            <view class="prod-text-info">
              <view class="price">
                <text class="symbol">￥</text>
                <text class="big-num">{{ item.price }}</text>
                <text class="small-num">.00</text>
              </view>
              <img
                src="../../static/tabbar/basket-sel.png"
                class="baseket-img"
              />
            </view>
          </view>
        </view>
      </view>
    </view>
    <!-- 更多宝贝 -->
    <view class="hot-sale">
      <view class="title">
        <text>更多宝贝</text>
      </view>
      <view class="some-item-cont">
        <view
          v-for="item in prodList1.records"
          :key="item.prodId"
          class="someimgbox"
          @click="goProdData(item.prodId)"
        >
          <view class="some-imagecont">
            <img :src="item.pic" class="someimg" />
          </view>
          <view class="some-text">
            <view class="some-text">{{ item.prodName }}</view>
            <view class="some-info">{{ item.brief }}</view>
            <view class="some-text-info">
              <view class="price">
                <text class="symbol">￥</text>
                <text class="big-num">{{ item.price }}</text>
                <text class="small-num">.00</text>
              </view>
              <img
                src="../../static/tabbar/basket-sel.png"
                class="baseket-img"
              />
            </view>
          </view>
        </view>
      </view>
    </view>
  </view>
</template>

<script>
import {
  login,
  carouselIndex,
  topNoticeList,
  dayNew,
  dayNew2,
} from "../../services/user";
export default {
  data() {
    return {
      //轮播
      list: [],
      //最新公告
      noticeList: [],
      //每日上新
      prodList: [],
      //更多宝贝
      prodList1: [],
    };
  },
  async onLoad() {
    await this.login();
    this.Carousel();
    this.NoticeList();
    this.getDayNew();
    this.changeShopIconNumber();
    this.getDayNew2();
  },
  methods: {
    //登录
    async login() {
      try {
        const token = uni.getStorageSync("token");
        if (!token) {
          this.$toPage({
            url: "/pages/warranty/index",
          });
        } else {
          console.log(token);
        }
        //判断是否登录
        //获取code
        const [, { code }] = await uni.login();
        //根据code请求自己的后台接口
        const res = await login({
          principal: code,
        });
        // 拿到token，存入本地存储
        uni.setStorageSync("token", res.access_token);
      } catch (error) {
        console.error(error);
      }
    },
    //首页轮播数据
    async Carousel() {
      this.list = await carouselIndex({});
      // console.log(this.list,'首页轮播数据');
    },
    //最新公告数据
    async NoticeList() {
      this.noticeList = await topNoticeList({});
      console.log(this.noticeList, "最新通知数据");
    },
    //最新公告跳详情
    goNoticeDetail() {
      uni.navigateTo({
        url: "../detail/noticeDetail",
      });
    },
    //每日上新数据
    async getDayNew() {
      this.prodList = await dayNew({});
      console.log(this.prodList, "每日上新数据");
    },
    //更多宝贝数据
    async getDayNew2() {
      this.prodList1 = await dayNew2({});
      console.log(this.prodList, "更多宝贝数据");
    },
    //轮播跳详情
    goDetail() {
      this.$toPage({
        url: "/pages/detail/swiperDetail",
      });
    },
    //跳转到新品推荐
    golastedProd() {
      this.$toPage({
        url: "/pages/detail/lastedProd",
      });
    },
    //跳转到每日疯抢
    goMoreBuy() {
      this.$toPage({
        url: "/pages/detail/moreBuyDetail",
      });
    },
    //跳转到限时特惠
    goDiscount() {
      this.$toPage({
        url: "/pages/detail/discountDetail",
      });
    },
    //点击每日上新更多
    goProdList() {
      this.$toPage({
        url: "/pages/detail/prodListDetail",
      });
    },
    //点击每日上新里的商品跳详情
    goProdData(id) {
      console.log(id, "每日上新id");
      this.$toPage({
        url: "/pages/detail/prodDataDetail",
        query: { id },
      });
    },
    // 跳转搜索页面
    toSearch() {
      this.$toPage({
        url: "/pages/search/index",
      });
    },
  },
};
</script>

<style scoped>
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.swiper {
  width: 100%;
  height: 346rpx;
}

.swiper > .swiper-item {
  width: 94%;
  margin: 0 3%;
  height: 402rpx;
  border-radius: 16rpx;
  height: 346rpx;
}

.imgbox {
  width: 94%;
  margin: 0 3%;
  position: absolute;
  height: 346rpx;
  box-shadow: 0 4rpx 20rpx 0 rgba(83, 83, 83, 0.288);
}

.imgbox > .swimg {
  width: 100%;
  border-radius: 16rpx;
  height: 346rpx;
}

.search {
  display: flex;
  width: 90%;
  height: 56rpx;
  background: rgb(247, 247, 247);
  border-radius: 24rpx;
  margin: 20rpx 5%;
  align-items: center;
  justify-content: center;
}

.search > .search-img {
  width: 32rpx;
  height: 24rpx;
  display: inline-block;
  overflow: hidden;
}

.search > .placeholder {
  font-size: 24rpx;
  color: rgb(153, 165, 192);
  margin-left: 10rpx;
}

.cat-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding-top: 20rpx;
  padding-bottom: 30rpx;
}

.cat-item .item {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10rpx auto;
  align-items: center;
  font-size: 30rpx;
}

.cat-item .item image {
  width: 75rpx;
  height: 75rpx;
  margin: 10rpx auto;
}

.message-play {
  width: 100%;
  position: relative;
  height: 90rpx;
  background: #fff;
  margin: auto;
  padding: 0 60rpx 0 100rpx;
  box-sizing: border-box;
  box-shadow: 0 16rpx 32rpx 0 rgba(7, 17, 27, 0.05);
  border: 2rpx solid #fafafa;
}

.message-play .hornpng {
  width: 77rpx;
  height: 36rpx;
  position: absolute;
  left: 20rpx;
  top: 27rpx;
  margin-right: 8rpx;
}

.message-play .swiper-cont {
  height: 90rpx;
  line-height: 90rpx;
}

.message-play .swiper-cont .items {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-align: left;
  font-size: 24rpx;
}

.arrow {
  width: 15rpx;
  height: 15rpx;
  border-top: 3rpx solid #686868;
  border-right: 3rpx solid #686868;
  transform: rotate(45deg);
  position: absolute;
  right: 30rpx;
  top: 34rpx;
}

.title {
  position: relative;
  height: 64rpx;
  line-height: 64rpx;
  font-size: 32rpx;
  padding: 40rpx 0 10rpx 30rpx;
  color: #333;
  background: #fff;
}

.more-prod-cont {
  color: #999;
  display: inline-block;
  text-align: right;
}

.more {
  position: absolute;
  right: 30rpx;
  top: 48rpx;
  color: #666;
  font-size: 24rpx;
  padding: 0 20rpx;
  height: 44rpx;
  line-height: 44rpx;
}

.more-prod-cont > .arrow {
  top: 58rpx;
  right: 30rpx;
  border-top: 2rpx solid #666;
  border-right: 2rpx solid #666;
}

.hot-sale {
  width: 100%;
}

.hotsale-item-cont {
  padding-bottom: 20rpx;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.hotimgbox {
  width: 300rpx;
  flex: 45%;
  box-shadow: 0rpx 6rpx 8rpx rgba(58, 134, 185, 0.2);
  margin: 20rpx 2%;
}

.hot-imagecont {
  font-size: 0;
  text-align: center;
}

.hotsaleimg {
  width: 292rpx;
  height: 292rpx;
}

.hot-text {
  margin-top: 20rpx;
  padding: 0 10rpx;
  font-size: 24rpx;
}

.hotprod-text {
  font-size: 28rpx;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.prod-info {
  font-size: 22rpx;
  color: #999;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.prod-text-info {
  position: relative;
  height: 70rpx;
  line-height: 70rpx;
  font-family: Arial;
}

.prod-text-info .baseket-img {
  width: 50rpx;
  height: 50rpx;
  position: absolute;
  right: 0;
  bottom: 7rpx;
  padding: 8rpx;
}

.price {
  font-family: Arial;
  display: inline-block;
  color: #eb2444;
  padding-bottom: 10rpx;
  padding-left: 10rpx;
}

.symbol,
.small-num {
  font-size: 24rpx;
}

.big-num {
  font-size: 32rpx;
}

.some-item-cont {
  width: 100%;
}

.someimg {
  width: 292rpx;
  height: 292rpx;
}

.someimgbox {
  width: 100%;
  display: flex;
  justify-content: start;
  padding: 20rpx;
  border-top: 2rpx solid #f4f4f4;
}

.some-text-info .baseket-img {
  width: 50rpx;
  height: 50rpx;
  position: absolute;
  right: 46rpx;
  padding: 8rpx;
}

.some-text {
  font-size: 30rpx;
  margin-top: 20rpx;
}

.some-info {
  font-size: 30rpx;
  margin-top: 20rpx;
}

.some-text-info {
  margin-top: 30rpx;
}
</style>
