/<template>
  <view>
      <img src="../../static/icon/logo.png" class="c-logo" />
      <view class="title">电商平台</view>
      <view class="msg">申请获得你的公开信息（昵称、头像等）</view>
      <button open-type="getUserInfo" @click="getUserInfo">微信授权</button>
  </view>
</template>

<script>
import {setUserInfo} from '../../services/user'
export default {
    data()
    {
        return {}
    },
    onLoad()
    {
        
    },
    methods:{
        getUserInfo()
        {
            uni.getUserProfile({
                desc:'用户个人中心展示',
                success(data) 
                {
                    const {avatarUrl,nickName} = data.userInfo;
                    setUserInfo({
                        avatarUrl,
                        nickName
                    }).then(res=>{
                        uni.redirectTo({
                            url:'../index/index',
                        })
                    })
                }
            })
        },
    }
}
</script>

<style scoped>
image {
    display: block;
    width: 150rpx;
    height: 150rpx;
    margin: auto;
    margin-top: 100rpx;
    border-radius: 50%;
}
.title {
    font-size: 28rpx;
    color: #333;
    width: 100%;
    text-align: center;
    margin-top: 20rpx;
}
.msg {
    font-size: 24rpx;
    color: #666;
    width: 100%;
    text-align: center;
    margin-top: 10rpx;
}
button {
    margin-top: 30rpx;
    width: 450rpx;
    height: 70rpx;
    line-height: 70rpx;
    font-size: 30rpx;
    color: #fff;
    background: #eb2444;
    border: 2rpx solid #eb2444;
}
</style>