<!-- 搜索页面 -->
<template>
  <view class="content">
    <view class="search-bar">
      <view class="search-box">
        <input
          type="text"
          placeholder="输入关键字搜索"
          class="sear-input"
          v-model="value"
        />
        <image
          src="../../static/icon/search.png"
          class="search-img"
          @click="tosearchPage()"
        ></image>
      </view>
      <text class="search-hint" @click="hint">取消</text>
    </view>
    <view class="search-display">
      <view class="hot-search">
        <view class="title-text">热门搜索</view>
        <view class="hot-search-tags"></view>
      </view>
      <view class="history-search">
        <view class="title-text history-line">
          搜索历史
          <view class="clear-history">
            <image
              src="../../static/icon/clear-his.png"
              @click="delHistory"
            ></image>
          </view>
        </view>
        <view
          class="his-search-tags"
          v-for="(val, index) in hisList"
          :key="index"
          @click="tosearchPage(val)"
        >
          <text class="tags">{{ val }}</text>
        </view>
      </view>
    </view>
  </view>
</template>

<script>
export default {
  data() {
    return {
      value: "", // 搜索
      hisList: uni.getStorageSync("recentSearch") || [], // 历史搜索数据
    };
  },
  methods: {
    // 删除历史搜索
    delHistory() {
      uni.removeStorageSync("recentSearch");
      this.hisList = []
    },
    // 取消搜索
    hint() {
      uni.navigateBack({
        delta: 1,
      });
    },
    // 跳转搜索结果
    tosearchPage(val) {
      this.$toPage({
        url: "/pages/prodPage/index",
        query: {
          val: val || this.value,
        },
      });
      if (this.value) {
        if (this.hisList.indexOf(this.value) == -1) {
          this.hisList.push(this.value);
        }
        uni.setStorageSync("recentSearch", this.hisList);
      }
    },
  },
};
</script>

<style>
.content {
  height: 100%;
  box-sizing: border-box;
  color: #333;
}
.search-bar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  color: #777;
  background: #fff;
  box-shadow: 0 2rpx 6rpx rgba(0, 0, 0, 0.07);
  z-index: 3;
}
.search-display {
  background: #fff;
  padding: 20rpx;
  margin-top: 100rpx;
}
.search-box {
  position: relative;
  height: 60rpx;
  background: #f7f7f7;
  z-index: 999;
  width: 80%;
  margin-left: 70rpx;
  border-radius: 50rpx;
  margin: 20rpx 0 20rpx 20rpx;
}
.search-hint {
  font-size: 28rpx;
  position: absolute;
  right: 30rpx;
  top: 31rpx;
  color: #eb2444;
}
.sear-input {
  height: 60rpx;
  border-radius: 50rpx;
  border: 0;
  margin: 0 30rpx 0 64rpx;
  line-height: 48rpx;
  vertical-align: top;
  background: #f7f7f7;
  font-size: 28rpx;
}
.search-img {
  width: 32rpx;
  height: 32rpx;
  position: absolute;
  left: 20rpx;
  top: 14rpx;
  display: block;
}
.title-text {
  padding: 30rpx 0;
  font-size: 30rpx;
  color: #666;
}
.hot-search-tags {
  overflow: hidden;
  font-size: 26rpx;
  text-align: center;
  padding-bottom: 30rpx;
}
.history-line {
  position: relative;
  border-top: 2rpx solid #e1e1e1;
}
.clear-history image {
  width: 32rpx;
  height: 32rpx;
  position: absolute;
  right: 10rpx;
  top: 30rpx;
}
.his-search-tags {
  overflow: hidden;
  font-size: 26rpx;
  text-align: center;
  display: inline-block;
}
.tags {
  max-width: 300rpx;
  overflow: hidden;
  float: left;
  border-radius: 50rpx;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: #f2f2f2;
  box-sizing: border-box;
  margin-right: 20rpx;
  margin-bottom: 20rpx;
  padding: 10rpx 30rpx;
}
</style>