<!-- 限时特惠 -->
<template>
  <view>
    <view v-if="list.records.length > 0" class="hotsale-item-cont">
        <view v-for="item in list.records" :key="item.prodId" class="hotimgbox" @click="goDetail(item.prodId)">
            <view class="hot-imagecont">
                <img :src="item.pic" class="hotsaleimg" />
            </view>
            <view class="hot-text">
                <view class="hotprod-text">{{item.prodName}}</view>
                <view class="prod-info">{{item.brief}}</view>
                <view class="prod-text-info">
                    <view class="price">
                        <text class="symbol">￥</text>
                        <text class="big-num">{{item.price}}</text>
                        <text class="small-num">.00</text>
                    </view>
                    <img src="../../static/tabbar/basket-sel.png" class="baseket-img" />
                </view>
            </view>
        </view>
    </view>
    <view v-else class="empty-list">暂无商品</view>
  </view>
</template>

<script>
import {discountProd} from '../../services/user';
export default {
    data()
    {
        return {
            list:[]
        }
    },
    onLoad() 
    {
        this.getDiscountData();
    },
    methods:{
        async getDiscountData()
        {
            this.list = await discountProd();
            console.log(this.list,'限时特惠数据');
        },
        goDetail(id)
        {
            this.$toPage({
                url: "/pages/detail/prodDataDetail",
                query: { id },
            });
        }
    }
}
</script>

<style scoped>
.hotsale-item-cont {
    padding-bottom: 20rpx;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.hotimgbox{
    width: 300rpx;
    flex: 45%;
    box-shadow: 0rpx 6rpx 8rpx rgba(58,134,185,0.2);
    margin: 20rpx 2%;
}
.hot-imagecont {
    font-size: 0;
    text-align: center;
    
}
.hotsaleimg {
    width: 292rpx;
    height: 292rpx;
}
.hot-text {
    margin-top: 20rpx;
    padding: 0 10rpx;
    font-size: 24rpx;
}
.hotprod-text {
    font-size: 28rpx;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.prod-info {
    font-size: 22rpx;
    color: #999;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.prod-text-info {
    position: relative;
    height: 70rpx;
    line-height: 70rpx;
    font-family: Arial;
}
.prod-text-info .baseket-img {
    width: 50rpx;
    height: 50rpx;
    position: absolute;
    right: 0;
    bottom: 7rpx;
    padding: 8rpx;
}
.price {
    font-family: Arial;
    display: inline-block;
    color: #eb2444;
    padding-bottom: 10rpx;
    padding-left: 10rpx;
}
.symbol,.small-num {
    font-size: 24rpx;
}
.big-num {
    font-size: 32rpx;
}
.empty-list {
    font-size: 24rpx;
    color: #999;
    text-align: center;
    margin: 100rpx 0;
}
</style>