<!-- 最新公告二级详情 -->
<template>
    <view class="news-detail">
        <view class="news-detail-title">{{list.title}}</view>
        <view v-html="list.content"></view>
    </view>
</template>

<script>
import {newsList} from '../../services/user';
export default {
    data()
    {
        return{
            id:'',
            list:[]
        }
    },
    onLoad()
    {
        this.id = uni.getStorageSync('id');
        // console.log(this.id);
        this.NewsList();
    },
    methods:{
        formatHTML(htmlStr)
        {
            return htmlStr.replace(/width\=\"\d+\"/g, 'width="100%"').replace(/height\=\"\d+\"/g, '');
        },
        async NewsList()
        {
            const data = await newsList(this.id);
            data.content = this.formatHTML(data.content);
            this.list = data;
            console.log(this.list,'最新公告二级数据');
        }
    }
}
</script>

<style scoped>
.news-detail {
    padding: 20rpx;
}
.news-detail-title {
    font-size: 32rpx;
    font-weight: bold;
    line-height: 50rpx;
    padding: 20rpx;
}
</style>