<!-- 最新公告跳转详情 -->
<template>
  <view class="noticeDetail">
      <view v-for="item in noticeList" :key="item.id" class="news-item" :data-id="item.id" @click="goNewsDetail(item.id)">
        <view class="title">{{item.title}}</view>
        <view class="time">{{item.publishTime}}</view>
      </view>
  </view>
</template>

<script>
import {topNoticeList} from '../../services/user';
export default {
    data()
    {
      return {
        noticeList:[]
      }
    },
    onLoad()
    {
      this.NoticeList();
    },
    methods:{
      async NoticeList() 
			{
				this.noticeList = await topNoticeList({});
				console.log(this.noticeList,'最新通知数据');
			},
      async goNewsDetail(id)
      {
        uni.navigateTo({
          url:'./newsDetail'
        })
        uni.setStorageSync('id',id);
      }
    }
}
</script>

<style scoped>
.noticeDetail{
  width: 100%;
}
.news-item{
  padding: 20rpx;
  border-bottom: 1px solid rgb(225,225,225);
}
.title{
  font-size: 28rpx;
  text-align: left;
}
.time{
  font-size: 24rpx;
  color: #999;
  text-align: right;
  margin-top: 10rpx;
  margin-bottom: 20rpx;
}
</style>