<!-- 订单详情页 -->
<template>
    <view class="container">
        <view class="order-detail">
            <view class="delivery-addr">
                <view class="user-info">
                    <text class="item">1</text>
                    <text class="item">18053200945</text>
                </view>
                <view class="addr">北京市市辖区东城区东城区12</view>
            </view>
            <view class="prod-item" v-for="(item,index) in orderLists.orderItemDtos" :key="index" @click="goProdData(item.prodId)">
                <view data-prodid="70" class="item-cont">
                    <view class="prod-pic">
                        <image :src="item.pic"></image>
                    </view>
                    <view class="prod-info">
                        <view class="prodname">{{item.prodName}}</view>
                        <view class="prod-info-cont">
                            <text class="number">数量:1</text>
                            <text class="info-item"></text>
                        </view>
                        <view class="price-nums clearfix">
                            <text class="prodprice">
                                <text class="symbol">￥</text>
                                <text class="big-num">{{item.price}}</text>
                                <text class="small-num">.00</text>
                            </text>
                            <view class="btn-box">
                                <text class="btn">申请售后</text>
                                <text class="btn">加入购物车</text>
                            </view>
                        </view>

                    </view>
                </view>
                <view class="prod-foot">
                    <view class="btn"></view>
                </view>
            </view>
            <view class="order-msg">
                <view class="msg-item">
                    <view class="item">
                        <text class="item-tit">订单编号:</text>
                        <text class="item-txt">1570605487978844160</text>
                        <text class="copy-btn" @click="copyBtn()">复制</text>
                    </view>
                    <view class="item">
                        <text class="item-tit">下单时间:</text>
                        <text class="item-txt">{{orderLists.createTime}}</text>
                    </view>
                </view>
                <view class="msg-item">
                    <view class="item">
                        <text class="item-tit">支付方式：</text>
                        <text class="item-txt">微信支付</text>
                    </view>
                    <view class="item">
                        <text class="item-tit">配送方式：</text>
                        <text class="item-txt">普通配送</text>
                    </view>
                    <view class="item">
                        <text class="item-tit">订单备注：</text>
                        <text class="item-txt"></text>
                    </view>
                </view>
            </view>
            <view class="order-msg" v-for="(item,index) in orderLists.orderItemDtos" :key="index">
                <view class="msg-item">
                    <view class="item">
                        <view class="item-tit">订单总额:</view>
                        <view class="item-txt price">
                            <text class="symbol">￥</text>
                            <text class="big-num">{{item.price}}</text>
                            <text class="small-num">.00</text>
                        </view>
                    </view>
                    <view class="item">
                        <view class="item-tit">运费:</view>
                        <view class="item-txt price">
                            <text class="symbol">-￥</text>
                            <text class="big-num">0</text>
                            <text class="small-num">.00</text>
                        </view>
                    </view>
                    <view class="item">
                        <view class="item-tit">优惠券:</view>
                        <view class="item-txt price">
                            <text class="symbol">-￥</text>
                            <text class="big-num">0</text>
                            <text class="small-num">.00</text>
                        </view>
                    </view>
                    <view class="item payment">
                        <view class="item-txt price">
                            实付款:
                            <text class="symbol">￥</text>
                            <text class="big-num">{{item.price}}</text>
                            <text class="small-num">.00</text>
                        </view>
                    </view>
                </view>
            </view>
        </view>
        <view class="order-detail-footer">
            <view class="footer-box">
                <text class="apply-service">联系客服</text>
                <text class="buy-again">确认购买</text>
            </view>
        </view>
    </view>
</template>
<text></text>
<view></view>
<script>
import { orderList } from '../../services/user';

export default {

    data() {
        return {
            orderLists: [],
        }
    },
    onLoad(options) {
        // console.log(options)
        this.orderlist(options.orderNumber)

    },
    methods: {
        //订单详情数据
        async orderlist(orderNumber) {
            this.orderLists = await orderList({ orderNumber })

            // console.log(this.orderLists.orderItemDtos[0], '订单详情数据 ------');

        },
        // 复制
        copyBtn: function () {
            uni.setClipboardData({
                data: '需要复制的内容',
                success: function () {
                    uni.showToast({
                        title: '复制成功',
                    });
                },
                fail: function () {
                    uni.showToast({
                        title: '复制失败',
                    });
                }
            });
        },
        goProdData(id) {
            this.$toPage({
                url: '/pages/detail/prodDataDetail',
                query: { id },
            })
        },
    }
}
</script>

<style>
* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
    box-sizing: border-box;
    color: #333;
    font-family: helvetica, 'Heiti SC', PingFangSC-Light;
    background: rgb(242, 246, 246);
    overflow: auto;
}

.order-detail {
    margin-bottom: 120rpx;
}

.order-detail .delivery-addr {
    padding: 20rpx 30rpx;
    background: #fff;
}

.prod-item {
    background-color: #fff;
    margin-top: 15rpx;
    font-size: 28rpx;
}

.order-msg {
    background: #fff;
    margin-top: 15rpx;
    font-size: 28rpx;
}

.order-detail-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 750rpx;
    background: #fff;
    margin: auto;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding: 22rpx 0;
    font-size: 26rpx;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.05);
}

.order-detail .delivery-addr .user-info {
    line-height: 48rpx;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.order-detail .delivery-addr .addr {
    font-size: 26rpx;
    line-height: 36rpx;
    color: #999;
}

.order-detail .delivery-addr .user-info .item {
    font-size: 28rpx;
    margin-right: 30rpx;
    vertical-align: top;
    display: inline-block;
}

.prod-item .item-cont {
    display: flex;
    align-items: center;
    padding: 30rpx;
    border-top: 2rpx solid #f1f1f1;
}

.prod-item .item-cont .prod-pic {
    font-size: 0;
    display: block;
    width: 160rpx;
    height: 160rpx;
    overflow: hidden;
    background: #fff;
    margin-right: 16rpx;
}

.prod-item .item-cont .prod-info {
    margin-left: 10rpx;
    font-size: 28rpx;
    width: 100%;
    position: relative;
    height: 80px;
    -webkit-flex: 1;
    -ms-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    flex: 1;
}

.prod-item .item-cont .prod-pic image {
    width: 100%;
    height: 100%;
}

.prod-item .item-cont .prod-info .prodname {
    font-size: 28rpx;
    line-height: 40rpx;
    max-height: 86rpx;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    word-break: break-all;
}

.prod-item .item-cont .prod-info .prod-info-cont {
    position: relative;
    color: #999;
    margin-top: 10rpx;
    font-size: 24rpx;
}

.prod-item .price-nums {
    margin-top: 30rpx;
}

.prod-item .item-cont .prod-info .prod-info-cont .number {
    float: left;
    margin-right: 20rpx;
}

.prod-item .item-cont .prod-info .prod-info-cont .info-item {
    color: #999;
    height: 28rpx;
    margin-top: 10rpx;
    font-size: 24rpx;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    word-break: break-all;
    width: 70%;
}

.order-msg .msg-item {
    padding: 20rpx;
    border-top: 2rpx solid #f1f1f1;
}

.order-msg .msg-item .item {
    display: flex;
    padding: 10rpx 0;
    align-items: center;
}

.order-msg .msg-item .item .item-tit {
    color: #999;
    line-height: 48rpx;
}

.order-msg .msg-item .item .item-txt {
    flex: 1;
    line-height: 48rpx;
}

.order-msg .msg-item .item .copy-btn {
    display: block;
    margin-left: 20rpx;
    border: 2rpx solid #e4e4e4;
    padding: 6rpx 24rpx;
    border-radius: 50rpx;
    font-size: 24rpx;
    line-height: 28rpx;
}

.order-msg .msg-item .item .item-tit {
    color: #999;
    line-height: 48rpx;
}

.order-msg .msg-item .item .item-txt {
    flex: 1;
    line-height: 48rpx;
}

.order-msg .msg-item {
    padding: 20rpx;
    border-top: 2rpx solid #f1f1f1;
}

.order-msg .msg-item .item {
    display: flex;
    padding: 10rpx 0;
    align-items: center;
}

.order-msg .msg-item .item .item-tit {
    color: #999;
    line-height: 48rpx;
}

.order-msg .msg-item .item .item-txt {
    flex: 1;
    line-height: 48rpx;
}

.price {
    font-family: Arial;
    display: inline-block;
    color: #eb2444;
    padding-bottom: 10rpx;
    padding-left: 10rpx;
}

.order-msg .msg-item .item {
    display: flex;
    padding: 10rpx 0;
    align-items: center;
}

.order-detail-footer .footer-box {
    flex: 1;
    text-align: right;
    line-height: 60rpx;
}

.order-detail-footer .footer-box .apply-service {
    font-size: 26rpx;
    border-radius: 50rpx;
    padding: 10rpx 20rpx;
    border: 1px solid #e4e4e4;
    margin-right: 20rpx;
}

.order-detail-footer .footer-box .buy-again {
    font-size: 26rpx;
    color: #fff;
    background: #eb2444;
    border-radius: 50rpx;
    padding: 10rpx 20rpx;
    margin-right: 20rpx;
}

.prod-item .price-nums {
    margin-top: 30rpx;
}

.prod-item .price-nums .prodprice {
    color: #333;
    height: 50rpx;
    line-height: 50rpx;
    font-size: 24rpx;
    float: left;
}

.prod-item .price-nums .btn-box {
    float: right;
    text-align: right;
}

.prod-item .price-nums .btn-box .btn {
    padding: 6rpx 30rpx;
    line-height: 36rpx;
    margin-left: 20rpx;
    font-size: 24rpx;
    display: inline-block;
    border: 2rpx solid #e4e4e4;
    border-radius: 50rpx;
}

.order-msg .msg-item .item .item-txt.price {
    text-align: right;
}
</style>