<template>
  <view class="content">
    <scroll-view :scroll-top="scrollTop" scroll-y="true" class="scroll-Y">
      <swiper
        class="swiper"
        circular
        :indicator-dots="true"
        :autoplay="true"
        :interval="1200"
        :duration="500"
      >
        <swiper-item
          v-for="(item, index) in imgs"
          :key="index"
          class="swiper-item"
        >
          <img :src="item" alt="" class="sw_img" />
        </swiper-item>
      </swiper>

      <view class="goods">
        <view class="goods_t">
          <view class="goods_t_l">
            <h4>{{ detailGoods.prodName }}</h4>
          </view>
          <div class="goods_t_r" @click="collectGoods(detailGoods.prodId)">
            <view
              ><img
                src="../../static/icon/prod-col.png"
                alt=""
                class="prod-col"
            /></view>
            <p class="collect">收藏</p>
          </div>
        </view>
        <div class="goods_c">
          <p class="brief">{{ detailGoods.brief }}</p>
        </div>
        <div class="goods_b">
          <p class="price">￥{{ detailGoods.price }}</p>
        </div>
      </view>
      <view class="count">
        <span class="choose">已选</span>
        <span class="num">1件</span>
        <span class="sheng">…</span>
      </view>
      <view class="comment">
        <view class="comment_top">
          <div class="comment_top_l">
            <span>评价</span>
            <span class="good_com">好评0%</span>
          </div>
          <div class="comment_top_r">
            <span>共0条</span>
            <span>></span>
          </div>
        </view>
        <view class="comment_tag">
          <span>全部(0)</span>
          <span>好评(0)</span>
          <span>中评(0)</span>
          <span>差评(0)</span>
          <span>有图(0)</span>
        </view>
      </view>
      <view class="img" v-html="content"> </view>
    </scroll-view>

    <!-- 底部商品导航 -->
    <view class="goods-carts">
      <uni-goods-nav
        :options="options"
        :buttonGroup="buttonGroup"
        @click="onClick"
        @buttonClick="buttonClick"
      />
    </view>

    <!-- 商品弹框 -->
    <uni-popup ref="popup" background-color="#fff">
      <view
        class="popup-content"
        :class="{ 'popup-height': type === 'left' || type === 'right' }"
      >
        <view class="popupContent_top">
          <view class="popupContent_top_l">
            <image :src="skuData.checkedPic" v-if="skuData.checkedPic" />
            <image :src="imgs[0]" v-else-if="imgs" />
            <view v-else></view>
          </view>
          <view class="popupContent_top_r">
            <view class="popupContent_top_r_t">
              <h1 v-if="!disabled">￥{{skuData.checkedPrice}}</h1>
              <h1 v-else>无货</h1>
              <!-- <span class="D_price">￥{{detailGoods.price}}</span> -->
              <span @click="closeModal" class="close">X</span>
            </view>
            <view class="popupContent_top_r_b">
              已选 {{skuData.checkedProperty.join(',')}} {{skuData.checkedCount}}件
            </view>
          </view>
        </view>
        <view class="popupContent_center">
          <view v-if="skuData.propertyies.length">
          <view v-for="(val,i) in skuData.propertyies" :key="i" class="skuitem">
            <span class="info-title">{{val.title}}</span>
            <button v-for="(v,index) in val.items" :key="index" :class="[isShowActive({
                typeIndex: i,
                itemName: v
              })]" @click="hanldeItems({
                typeIndex: i,
                itemName: v
              })">{{v}}</button>
          </view>
        </view>
          <view class="shopNum">
            <h4>数量</h4>
            <view class="btns">
              <span @click="handleChangeCount(-1)">-</span>
              <span>{{skuData.checkedCount}}</span>
              <span @click="handleChangeCount(1)">+</span>
            </view>
          </view>
        </view>
        <view class="popupContent_bottom" :class="{
          disabled
        }">
          <span class="addCar" @click="handleAddShopCar">加入购物车</span>
          <span class="buyShop" @click="toSubmitOrder(detailGoods.prodId)">立即购买</span>
        </view>
      </view>
    </uni-popup>
  </view>
</template>

<script>
import { uniGoodsNav } from "@dcloudio/uni-ui";
import {prodListDetail,addShopCar,gitCartList} from "../../services/user";
import { requestGetShopCarCount } from "@/services/shopcar"
export default {
  data() {
    return {
      detailGoods: {}, //商品
      imgs: [], //轮播图
      content: "", //富文本
      num:2,//徽标
      //底部商品导航数据
      options: [
        {
          icon: "headphones",
          text: "客服",
        },
        {
          icon: "cart",
          text: "购物车",
          info: 0,
        },
      ],
      buttonGroup: [
        {
          text: "加入购物车",
          backgroundColor: "#584e61",
          color: "#fff",
        },
        {
          text: "立即购买",
          backgroundColor: "#eb2444",
          color: "#fff",
        },
      ],
      skuData: {
        checkedPic:'',
        checkedPrice: 0,
        checkedProperty: [], // [] 默认是skuList数组第一项
        checkedCount: 1,
        propertyies: []
      },
      disabled: false,
      id:'',
    };
  },
  async onLoad(options) {
    this.id = options.id;
    this.init(this.id);
    this.num = await requestGetShopCarCount();
    this.options[1].info = this.num;
  },
  watch:{
    // 监听选中属性变化，重新计算价格和图片
    'skuData.checkedProperty'(val){
      const curItem = this.findCurItem(val);
      // 修改价格和图片
      this.skuData.checkedPrice = curItem?.price;
      this.skuData.checkedPic = curItem?.pic;
    }
  },
  methods: {
    // 点击商品规格按钮
    hanldeItems({typeIndex, itemName}){
      this.disabled = this.isShowActive({typeIndex,itemName}).trim() === 'disabled';
      let { checkedProperty } = this.skuData; 
      checkedProperty[typeIndex] = itemName;
      this.skuData.checkedProperty = [...checkedProperty];
    },
    // 查找当前选中商品
    findCurItem(checks){
      return this.detailGoods.skuList.find(({skuName}) => checks.join(' ') === skuName)
    },
    // 判断当前是不是选中属性  
    isShowActive({typeIndex, itemName}){  
      const checkPro = [...this.skuData.checkedProperty];
      checkPro[typeIndex] = itemName;
      let flag = '';
      this.skuData.checkedProperty.forEach((item, index) => {
        if(typeIndex === index && itemName === item){
          flag = 'active';
        }
      })
      flag = this.findCurItem(checkPro) ? flag : flag + ' disabled';
      return flag;
    },
    formatSKU(data){
      if(data.length >= 1){
        const { properties, skuName } = data[0];
        this.skuData.checkedProperty = skuName.split(/\s/); // 默认选择第一个
        if(properties){
           // 处理规格
          this.skuData.propertyies = properties.split(';').map((item,i) => {
            const [title] = item.split(':');
            const items = [...new Set(data.map(({skuName}) => skuName.split(/\s/)[i]))];
            return {
              title,
              items
            }
          })
        }
      }
    },
    formatHTML(htmlStr){
      return htmlStr.replace(/width\=\"\d+\"/g, 'width="100%"').replace(/height\=\"\d+\"/g, '')
    },
    async init(id){
      // 请求详情数据
      const data = await prodListDetail({prodId: id});
      // 详情样式
      this.detailGoods = data;
      this.imgs = data.imgs.split(",");
      this.content = data.content = this.formatHTML(data.content);
      // 格式化sku数据
      this.formatSKU(data.skuList);
    },
    buttonClick(){
      this.$refs.popup.open('bottom');
    },
    closeModal () {
      this.$refs.popup.close();
    },
    //加入购物车
    async handleAddShopCar(){
      if(this.disabled === true){
        return;
      }
      const data = {
        basketId: 0,
        count: this.skuData.checkedCount,
        prodId: this.detailGoods.prodId,
        shopId: this.detailGoods.shopId,
        skuId: this.findCurItem(this.skuData.checkedProperty).skuId
      }
      const res = await addShopCar(data);
      uni.showToast({
        title: res,
        icon: "none",
      });
      this.closeModal();
      this.num = await requestGetShopCarCount();
      this.options[1].info = this.num;
      await this.init(this.id);
    },
    handleChangeCount(flag){
      if(flag === -1 && this.skuData.checkedCount === 1) return;
      this.skuData.checkedCount = this.skuData.checkedCount + flag;
    },
    // 点击跳转到提交订单页
    toSubmitOrder (id) {
      console.log('立即购买');
      this.$toPage({
        url:"/pages/submit/index",
        query:{
          id: id
        }
      })
    },
    // 点击收藏 
    async collectGoods (id) {
      console.log(id,"999999999999999999999999999999");
    },
    onClick(e) {
      console.log(e.content);
      if(e.content.text === '购物车')
      {
        uni.redirectTo({
          url:'/pages/shopCar/index'
        })
      }
      uni.showToast({
        title: `${e.content.text}`,
        icon: "none",
      });
    },
  },
};
</script>

<style scoped>
.content {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f1f1f1;
  overflow: scroll;
  box-sizing: border-box;
}
.skuitem button {
  width: 180rpx;
  padding: 4rpx 10rpx;
  display: inline-block;
  font-size: 24rpx;
}
.skuitem button.disabled{
  color: #ccc;
  border: 1px dashed #ccc;
}
.skuitem button.active{
  background: rgb(216, 60, 74);
  color: #fff;
  border-color: rgb(216, 60, 74);
}

.swiper {
  width: 100%;
  height: 1300rpx;
  box-sizing: border-box;
}

.swiper-item {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.swiper-item .sw_img {
  height: 100%;
  width: 100%;
}

.goods {
  width: 100%;
  height: 180rpx;
  font-size: 32rpx;
  position: relative;
  padding: 30rpx;
  background: #fff;
}

.goods_t {
  display: flex;
}

.goods_t_l {
  width: 80%;
  border-right: solid 1rpx #ccc;
  padding-right: 20rpx;
}
.brief {
  font-size: 24rpx;
  color: grey;
  line-height: 60rpx;
}

.goods_t_r {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.collect {
  font-size: 20rpx;
}

.prod-col {
  width: 40rpx;
  height: 40rpx;
}

.price {
  color: rgb(215, 5, 5);
  font-weight: 900;
}

.price span {
  font-size: 20rpx;
}

.count {
  width: 100%;
  height: 80rpx;
  box-sizing: border-box;
  margin: 20rpx 0 20rpx 0;
  display: flex;
  align-items: center;
  font-size: 24rpx;
  background: #fff;
}

.count span {
  margin: 20rpx;
}

.count .sheng {
  padding-left: 70%;
}

.choose {
  color: grey;
  font-size: 20rpx;
}
.num {
  font-weight: 900;
}

.comment {
  width: 100%;
  font-size: 32rpx;
  position: relative;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  background: #fff;
}

.comment_top {
  width: 100%;
  height: 100rpx;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
}

.comment_top_l {
  width: 80%;
}

.comment_top_l span {
  margin-left: 20rpx;
}

.comment_top_r {
  font-size: 24rpx;
  margin: 20rpx;
}

.good_com {
  font-size: 24rpx;
  color: rgb(215, 5, 5);
}

.comment_tag {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  height: 200rpx;
  margin-bottom: 20rpx;
}

.comment_tag span {
  background: #f7edeef6;
  text-align: center;
  margin: 30rpx 20rpx 0 20rpx;
  padding: 10rpx 16rpx;
  display: inline-block;
}

.img {
  width: 100%;
  height: 282rpx;
  background: #fff;
  box-sizing: border-box;
  margin-top: 20rpx;
}

.goods-carts {
  /* #ifndef APP-NVUE */
  display: flex;
  /* #endif */
  flex-direction: column;
  position: fixed;
  left: 0;
  right: 0;
  /* #ifdef H5 */
  left: var(--window-left);
  right: var(--window-right);
  /* #endif */
  bottom: 0;
}

.popup-content {
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: #fff;
  display: flex;
  min-height: 700rpx;
  max-width: 950rpx;
  flex-direction: column;
}

.popupContent_top {
  width: 100%;
  height: 160rpx;
  display: flex;
  font-size: 26rpx;
  position: relative;
}

.popupContent_top_l {
  width: 200rpx;
  height: 200rpx;
  position: absolute;
  top: -100rpx;
}

.popupContent_top_l image {
  width: 100%;
  height: 100%;
}

.popupContent_top_r {
  margin-left: 230rpx;
}

.popupContent_top_r_t {
  display: flex;
  height: 60rpx;
  justify-content: space-between;
  align-items: center;
}

.D_price {
  color: #e4393c;
}

.close {
  display: inline-block;
  width: 44rpx;
  height: 44rpx;
  font-size: 30rpx;
}

.popupContent_center {
  width: 100%;
}

.popupContent_center h4 {
  color: grey;
  font-size: 30rpx;
  height: 80rpx;
  line-height: 80rpx;
}

.popupContent_center .type span {
  display: inline-block;
  margin: 5rpx;
  padding: 20rpx;
  border-radius: 10rpx;
  border: solid 1px grey;
  background: #f1f1f1;
  font-size: 32rpx;
}

.popupContent_center .shopNum {
  height: 200rpx;
  width: 100vw;
  display: flex;
}
.popupContent_center .btns {
  position: fixed;
  right: 5%;
  display: flex;
  align-items: center;
  bottom: 15%;
}

.popupContent_center .btns > span {
  border: solid 1px #f1f1f1;
  width: 60rpx;
  height: 50rpx;
  text-align: center;
  background: #fcfcfc;
  color: grey;
}

.popupContent_bottom {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100rpx;
  position: fixed;
  left: 0;
  bottom: 0;
  font-size: 26rpx;
  color: #fff;
}

.addCar,.buyShop {
  width: 100%;
  color: #fff;
  height: 100rpx;
  border-radius: none;
  font-size: 30rpx;
  line-height: 100rpx;
  text-align: center;
}

.addCar {
  background: #584e61;
}
.buyShop {
  background: #eb2444;
}
 
.popupContent_bottom.disabled span{
    background: #ccc;
    color: #fff;
  }
.info-title {
  display: block;
  font-size: 24rpx;
}

</style>