<!-- 小游戏积分页面 -->
<template>
  <view class="content">2048</view>
</template>

<script>
export default {

}
</script>

<style>
.content {
  height: 100%;
  box-sizing: border-box;
  color: #333;
}
</style>