<!-- 搜索结果 -->
<template>
  <view class="content">
    <view class="fixed-box">
      <view class="search-bar">
        <view class="search-box">
          <input type="text" class="sear-input" v-model="prodName" />
          <image
            src="../../static/icon/search.png"
            class="search-img"
            @click="hanledClick"
          ></image>
        </view>
        <view class="search-list-img" @click="changeCurrent">
          <image v-if="current" src="../../static/icon/search-col2.png"></image>
          <image v-else src="../../static/icon/search-col.png"></image>
        </view>
      </view>
      <!-- tab切换 -->
      <view class="tabs">
        <text
          v-for="(val, index) in tabs"
          :key="index"
          id="tab-item"
          :class="showIndex === index ? 'on' : ''"
          @click="changeTab(index)"
          >{{ val }}</text
        >
      </view>
    </view>
    <!-- 渲染层 -->
    <view class="prod-list">
      <view :class="current ? 'cont-item' : 'prod-show'">
        <view
          v-for="val in list"
          :key="val.prodId"
          :class="current ? 'show-item' : 'prod-items'"
          @click="toPage(val.prodId)"
        >
          <view :class="current ? 'more-prod-pic' : 'hot-imagecont'">
            <image
              :src="val.pic"
              :class="current ? 'more-pic' : 'hotsaleimg'"
            ></image>
          </view>
          <view :class="current ? 'prod-text-right' : 'hot-text'">
            <view :class="current ? 'prod-text' : 'hotprod-text'">{{
              val.prodName
            }}</view>
            <view :class="current ? 'cate-prod-info' : 'prod-info'"
              >0评价 0%好评</view
            >
            <view :class="current ? 'prod-price' : 'prod-text-info'">
              <view class="price">
                <text class="symbol">￥</text>
                <text class="big-num">{{ parseInt(val.price) }}</text>
                <text class="small-num">{{
                  String(val.price.toFixed(2)).substring(
                    String(val.price.toFixed(2)).length - 3
                  )
                }}</text>
              </view>
            </view>
          </view>
        </view>
      </view>
    </view>
  </view>
</template>

<script>
import { prodPageList } from "../../services/user";
export default {
  data() {
    return {
      tabs: ["综合", "销量", "价格"],
      showIndex: 0,
      list: [],
      prodName: "",
      current: true,
    };
  },
  onLoad(options) {
    this.init(options.val);
    this.prodName = options.val;
  },
  methods: {
    // tab切换
    async changeTab(index) {
      this.showIndex = index;
      const { records } = await prodPageList({
        current: 1,
        prodName: this.prodName,
        size: 10,
        sort: this.showIndex,
      });
      this.list = records;
      //   console.log(this.list);
    },
    // 进入搜索结果页面默认渲染综合数据
    async init(prodName) {
      const { records } = await prodPageList({
        current: 1,
        prodName: prodName,
        size: 10,
        sort: this.showIndex,
      });
      this.list = records;
      //   console.log(this.list);
    },
    // 搜索
    async hanledClick() {
      const { records } = await prodPageList({
        current: 1,
        prodName: this.prodName,
        size: 10,
        sort: this.showIndex,
      });
      this.list = records;
    },
    // 跳转详情
    toPage(id) {
      this.$toPage({
        url: "/pages/detail/prodDataDetail",
        query: { id },
      });
    },
    // 样式切换
    changeCurrent() {
      this.current = !this.current;
    },
  },
};
</script>

<style>
.content {
  height: 100%;
  box-sizing: border-box;
  color: #333;
}
.fixed-box {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  background: #fff;
}
.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #777;
  background: #fff;
  z-index: 3;
  padding: 0 30rpx;
  box-sizing: border-box;
}
.fixed-box .tabs {
  width: 100%;
  height: 80rpx;
  line-height: 80rpx;
  padding: 10rpx 0;
  z-index: 999;
  background: #fff;
}
.search-bar .search-box {
  position: relative;
  height: 60rpx;
  background: #f7f7f7;
  z-index: 999;
  width: 80%;
  border-radius: 50rpx;
  margin-right: 30rpx;
  flex: 1;
}
.search-bar .search-list-img {
  width: 40rpx;
  height: 40rpx;
  font-size: 0;
}
.search-bar .search-list-img image {
  width: 100%;
  height: 100%;
}
.sear-input {
  height: 60rpx;
  border-radius: 50rpx;
  border: 0;
  margin: 0 30rpx 0 64rpx;
  line-height: 48rpx;
  vertical-align: top;
  background: #f7f7f7;
  font-size: 28rpx;
}
.search-bar .search-box .search-img {
  width: 32rpx;
  height: 32rpx;
  position: absolute;
  left: 20rpx;
  top: 14rpx;
  display: block;
}
#tab-item {
  display: inline-block;
  width: 33.33%;
  text-align: center;
  font-size: 28rpx;
}
.on {
  color: #eb2444;
}
.prod-list .cont-item {
  padding: 0 20rpx 20rpx 20rpx;
  margin-top: 180rpx;
}
.show-item {
  position: relative;
  display: flex;
  justify-content: start;
  padding: 20rpx;
  border-radius: 20rpx;
  background: #fff;
  margin-bottom: 20rpx;
  box-shadow: 0 16rpx 32rpx 0 rgba(7, 17, 27, 0.05);
}
.more-prod-pic {
  text-align: center;
  width: 170rpx;
  height: 170rpx;
  font-size: 0;
}
.prod-text-right {
  margin-left: 20rpx;
  width: 75%;
}
.more-pic {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.prod-text {
  margin: 0;
  height: 78rpx;
  font-size: 28rpx;
  display: -webkit-box;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #000;
}
.cate-prod-info {
  font-size: 22rpx;
  color: #999;
  margin: 10rpx 0 20rpx 0;
}
.prod-price {
  font-size: 28rpx;
  color: #eb2444;
  font-family: arial;
}
.symbol {
  font-size: 24rpx;
}
.big-num {
  font-size: 32rpx;
}
.small-num {
  font-size: 24rpx;
}
.prod-show {
  background: #fff;
  margin-top: 160rpx;
}
.prod-items {
  padding: 20rpx 10rpx 10rpx 20rpx;
      width: 375rpx;
    float: left;
    background: #fff;
    padding-bottom: 20rpx;
    box-sizing: border-box;
}
.hot-imagecont {
  border-radius: 8rpx;
  text-align: center;
  font-size: 0;
}
.hotsaleimg {
  width: 345rpx;
  height: 345rpx;
}
.hot-text {
  margin-top: 20rpx;
}
.hotprod-text {
  height: 76rpx;
  font-size: 28rpx;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #000;
}
.prod-info {
  font-size: 20rpx;
  color: #777;
  margin-top: 8rpx;
}
.prod-text-info {
  position: relative;
  height: 50rpx;
  line-height: 70rpx;
  font-family: Arial;
}
.price {
  font-family: Arial;
  display: inline-block;
  color: #eb2444;
  padding-bottom: 10rpx;
  padding-left: 10rpx;
}
</style>