<template>
	<view class="container">
  <view class="list">
    <view class="list" v-for="item in itemList" :key="item.roomid" @click="hanldeToLive(item.roomid)">
        <view class='item' :class="{end:item.live_status === 103}">
          <view class='more-prod-pic'>
            <image :src='item.feeds_img' class='more-pic' mode='widthFix'></image>
            <view>
              <text class="time">开播：{{item.start_time}}-{{item.end_time}}</text>
            </view>
            <view>
              <text class="title">{{item.name}}</text>
            </view>
            <view class="person">
              <text>主播</text>
              <text>{{item.anchor_name}}</text>
            </view>
          </view>
        </view>
    </view>
  </view>
</view>
</template>

<script>
export default {
	data() {
		return {
			itemList: []
		}
	},
	async onLoad() {
		// 获取直播列表包括已结束的
		// 去微信官方接口查询直播信息
		const cloud = await this.$cloud;
		// 调用云函数 相当于调用接口
		const res = await cloud.callFunction({
			name: 'liveroom'
		});
		// 拿到数据渲染数据
		this.itemList = res.result.body.room_info
		console.log(res.result.body.room_info);
	},
	methods: {
		hanldeToLive(roomid){
			// 进入直播间
			let customParams = encodeURIComponent(JSON.stringify({ path: 'pages/liveShop/index', pid: 1 })) // 开发者在直播间页面路径上携带自定义参数（如示例中的 path 和pid参数），后续可以在分享卡片链接和跳转至商详页时获取，详见【获取自定义参数】、【直播间到商详页面携带参数】章节（上限600个字符，超过部分会被截断）
			uni.navigateTo({
					url: `plugin-private://wx2b03c6e691cd7370/pages/live-player-plugin?room_id=${roomid}&custom_params=${customParams}`
			})
		}
	}
}
function debounce (timeout, fn) {
	let _time = null
	return function () {
		let _arg = arguments
		clearTimeout(_time)
		_time = setTimeout(() => {
			fn.apply(this, _arg)
		}, timeout)
	}
}
</script>

<style>
.list {
	display: flex;
	flex-wrap: wrap;
}
.list .item.end:before {
	content:'直播已结束';
	position: absolute;
	top:0;
	left:0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.6);
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}

.item {
	width: 44vw;
	margin-left: 4vw;
	margin-top: 15px;
	background: #fff;
	border-radius: 8px;
	overflow: hidden;
	position: relative;
}

image {
	width: 100%;
}

.title {
	font-size: 20px;
	margin: 5px;
}

.time {
	color: #999;
	font-size: 11px;
	margin: 5px;
}

.person {
	margin: 5px;
}

.person text:first-child {
	background: antiquewhite;
	border-radius: 50%;
	width: 10vw;
	height: 10vw;
	display: inline-block;
	font-size: 15px;
	text-align: center;
	line-height: 10vw;
	color: burlywood;
}

.person text:last-child {
	font-size: 18px;
	margin-left: 10px;
	color: black;
}
</style>

