<template>
  <view class="content">
    <!-- 用户信息 -->
    <view class="userinfo">
      <view class="avatar">
        <open-data type="userAvatarUrl"></open-data>
      </view>
      <view class="user">
        <open-data type="userNickName"></open-data>
      </view>
    </view>
    <!-- 手机号绑定 -->
    <view class="phone">
      <text class="tip"> 绑定手机号后可查看订单和领取优惠券， </text>
      <text class="gotobind" @click="gotoBind"> 去绑定 </text>
    </view>
    <view class="list">
      <!-- 订单 -->
      <view class="order">
        <view class="order-tit">
          <text style="font-weight: bold">我的订单</text>
          <view data-sts="0" class="checkmore">
            <text @click="gotoList(0)">查看全部</text>
            <text class="arrowhead"></text>
          </view>
        </view>
        <view class="procedure">
          <view data-sts="1" class="items" @click="gotoList(1)">
            <image src="../../static/icon/toPay.png"></image>
            <text class="num-badge">{{gitorderList.records.length}}</text>
            <text>待支付</text>
          </view>
          <view data-sts="2" class="items" @click="gotoList(2)">
            <image src="../../static/icon/toDelivery.png"></image>
            <text>待发货</text>
          </view>
          <view data-sts="3" class="items" @click="gotoList(3)">
            <image src="../../static/icon/toTake.png"></image>
            <text>待收货</text>
          </view>
          <view data-sts="5" class="items" @click="gotoList(4)">
            <image src="../../static/icon/toComment.png"></image>
            <text>待支付</text>
          </view>
        </view>
      </view>
      <!-- 收藏 -->
      <view class="col">
        <view class="item" v-for="(val,index) in messList" :key="val.msg" @click="toColl(index)">
          <div class="num">{{ val.num }}</div>
          <div class="tit">{{ val.msg }}</div>
        </view>
      </view>
      <!-- 收货地址 -->
      <view class="menu" @click="gotoAddress">
        <view class="menu-item">
          <view class="i-name">
            <image src="../../static/icon/myAddr.png"></image>
            <text>收货地址</text>
          </view>
          <view class="i-right"></view>
        </view>
      </view>
    </view>
  </view>
</template>

<script>
import { getmyList, getorderList, getCount } from '../../services/user';

export default {
  data() {
    return {
      gitorderList: [],
      gitmyList: [],
      messList: [
        {
          num: 0,
          msg: "我的收藏",
        },
        {
          num: 5,
          msg: "我的消息",
        },
        {
          num: 3,
          msg: "我的足迹",
        },
        {
          num: 0,
          msg: "我的积分",
        },
      ],
    };
  },
  onShow() {
    this.init();
  },
  onLoad(options) {
    this.mylist()
    this.orderlist()
  },
  methods: {
    async mylist() {
      this.gitmyList = await getmyList({})
      // console.log(this.gitmyList, '状态------');
    },

    async orderlist() {
      this.gitorderList = await getorderList({ status: 1 })
      // console.log(this.gitorderList, 'gitorderList');
    },

    // 跳转收货地址
    gotoAddress() {
      this.$toPage({
        url: "/pages/address/recAddress/index",
      });
    },
    gotoList(num) {
      this.$toPage({
        url: `/pages/order/index?status=${num}`,
      });
    },
    gotoBind() {
      this.$toPage({
        url: "/pages/bind/index",
      });
    },
    toColl(index) {
      // 跳转我的收藏
      if (index === 0) {
        this.$toPage({
          url: "/pages/collections/index"
        })
        // 跳转我的积分
      } else if (index === 3) {
        this.$toPage({
          url: "/pages/game/index"
        })
      }
    },
    // 我的收藏数 
    async init() {
      this.messList[0].num = await getCount();
    }
  },
};
</script>

<style >
.content {
  height: 100%;
  box-sizing: border-box;
  color: #333;
}

.userinfo {
  position: relative;
  width: 100%;
  background: #fff;
  text-align: center;
  padding: 30rpx 0;
}

.phone {
  position: relative;
  background: #fff;
  height: 80rpx;
  line-height: 80rpx;
  padding: 0 30rpx;
  border-top: 2rpx solid #f7f7f7;
  border-bottom: 2rpx solid #f7f7f7;
}

.list {
  width: 100%;
  background: #f7f7f7;
  margin-top: 20rpx;
}

.list .order {
  background: #fff;
}

.arrowhead {
  width: 15rpx;
  height: 15rpx;
  border-top: 2rpx solid #999;
  border-right: 2rpx solid #999;
  transform: rotate(45deg);
  margin-left: 10rpx;
}

.list .order .order-tit .checkmore {
  font-size: 22rpx;
  color: #80848f;
  display: flex;
  align-items: center;
}

.list .order .order-tit {
  display: flex;
  justify-content: space-between;
  height: 80rpx;
  line-height: 80rpx;
  font-size: 30rpx;
  border-bottom: 1px solid #f7f7f7;
  padding: 0 30rpx;
}

.list .order .procedure {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 25rpx;
  height: 160rpx;
}

.list .order .procedure .items {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list .order .procedure .items image {
  width: 70rpx;
  height: 70rpx;
  margin-bottom: 20rpx;
}

image {
  width: 160rpx;
  height: 120rpx;
  display: inline-block;
  overflow: hidden;
}

.list .order .procedure .items .num-badge {
  position: absolute;
  top: -15rpx;
  right: -12rpx;
  color: #eb2444;
  border: 3rpx solid #eb2444;
  border-radius: 50rpx;
  background: #fff;
  min-width: 30rpx;
  height: 30rpx;
  line-height: 30rpx;
  text-align: center;
  padding: 2rpx;
  display: block;
}

.avatar {
  overflow: hidden;
  display: block;
  width: 160rpx;
  height: 160rpx;
  border-radius: 50%;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  margin: auto;
}

.user {
  font-size: 30rpx;
  font-weight: bold;
  margin-top: 20rpx;
}

.col {
  margin-top: 20rpx;
  background: #fff;
  display: flex;
  justify-content: space-around;
  padding: 30rpx 0 10rpx 0;
  font-size: 12px;
}

.menu {
  margin-top: 20rpx;
}

.tip {
  font-size: 26rpx;
}

.gotobind {
  border-radius: 8rpx;
  font-size: 28rpx;
  color: #e24b4b;
  font-weight: bold;
}

.item {
  text-align: center;
}

.num {
  font-size: 16px;
  font-weight: 700;
  color: #3a86b9;
}

.tit {
  line-height: 34px;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100rpx;
  padding: 0 30rpx;
}

.memu-item:nth-child(1) {
  border-top: 2rpx solid #f7f7f7;
}

.memu-item:last-child {
  border-bottom: none;
}

.i-name {
  display: flex;
  align-items: center;
}

.i-name>image {
  width: 50rpx;
  height: 50rpx;
  margin-right: 20rpx;
  display: inline-block;
  overflow: hidden;
}

.i-right {
  width: 15rpx;
  height: 15rpx;
  border-top: 2rpx solid #999;
  border-right: 2rpx solid #999;
  transform: rotate(45deg);
  margin-left: 10rpx;
}

.menu {
  margin-top: 20rpx;
}
</style>