<template>
    <view class="content">
        <view class="addAddress">
            <view v-if="userAddr.addrId" class="delivery-addr" @click="toRec">
                <view class="addr-bg">
                    <view class="addr-icon">
                        <image src="../../static/icon/addr.png"></image>
                    </view>
                    <view class="user-info">
                        <text class="item">{{ userAddr.receiver }}</text>
                        <text class="item">{{ userAddr.mobile }}</text>
                    </view>
                    <view class="addr">
                        {{ userAddr.province }}{{ userAddr.city }}{{ userAddr.area
                        }}{{ userAddr.addr }}
                    </view>
                    <view class="arrow"></view>
                </view>
            </view>
            <p v-else class="newaddr">
                <image src="../../static/icon/plus-sign.png"></image>
                <span @click="goAddress">新增收货地址</span>
            </p>
        </view>
        <view class="itemContent">
            <dl v-for="item in subListData" :key="item.basketId" class="ShopCarItems">
                <dt class="dtt">
                    <image class="imgs" :src="item.pic" />
                </dt>
                <dd>
                    <p class="prod-name">{{ item.prodName }}</p>
                    <p class="prod-info-text">{{ item.skuName }}</p>
                    <view class="large-box-container">
                        <view class="large-box">
                            <view class="price">
                                <text class="symbol">￥</text>
                                <text class="big- num">{{ item.price }}</text>
                            </view>
                        </view>
                        <view class="Goodsnumber">X{{ item.prodCount }}</view>
                    </view>
                </dd>
            </dl>
            <view class="allCount">估计{{ totalCount }}商品 合计: ￥{{ total }}</view>
        </view>
        <view class="distribut">
            <view class="youhui">
                <p>优惠券：{{ distributionCardNo.length > 0 ? '有优惠券' : '暂无优惠券' }}</p>
                <p class="Goodsnumber" @click="open">{{ distributionCardNo.length }}张 ></p>
            </view>
            <view class="liuyan">
                买家留言：
                <input type="text" placeholder="给卖家留言" />
            </view>
        </view>
        <view class="aboutPrice">
            <view class="Prices">
                <span>订单总额:</span>
                <span class="fontColor">￥{{ actualTotal }}</span>
            </view>
            <view class="Prices">
                <span>运费:</span>
                <span class="fontColor">￥{{ transfee }}</span>
            </view>
            <view class="Prices">
                <span>优惠金额:</span>
                <span class="fontColor">-￥{{ shopReduce }}</span>
            </view>
        </view>
        <view class="submit-order-footer">
            <view class="sub-order">
                <view class="item-txt">
                    合计：
                    <view class="price">
                        <text class="symbol">￥</text>
                        <text class="big-num">{{ total }}</text>
                    </view>
                </view>
            </view>
            <view class="footer-box" @click="toPay">提交订单</view>
        </view>
        <!-- 普通弹窗 -->
        <uni-popup ref="popup" background-color="#fff" @change="change" type="bottom">
            <view class="popTit">
                <h3>优惠券</h3>
                <text @click="close">X</text>
            </view>
            <view class="quanUse">
                <text class="text">可用优惠券（0）</text>
                <text class="text">不可用优惠券（0）</text>
            </view>
            <view
                class="popup-content"
                :class="{ 'popup-height': type === 'left' || type === 'right' }"
            ></view>
        </uni-popup>
    </view>
</template>

<script>
import { shopListSubmit, submit, pay } from '@/services/user';
export default {
    data() {
        return {
            idList: [],
            subListData: [],
            distributionCardNo: [],
            actualTotal: 0,
            transfee: 0,
            shopReduce: 0,
            total: 0,
            totalCount: 0,
            show: false,
            userAddr: {}, //地址数据
            addrId: 0,
        };
    },
    onLoad(options) {
        // console.log(options, "options");
        if (options.idList) {
            this.idList = options.idList.split(',');
            this.addrId = options.addrId;
        } else {
            for (let key in options) {
                this.idList.push(options[key]);
            }
        }
        this.getConfirm();
        // console.log(this.idList);
    },
    methods: {
        async getConfirm() {
            const res = await shopListSubmit({
                addrId: this.addrId ? this.addrId : 0,
                basketIds: this.idList,
                couponIds: [],
                userChangeCoupon: 1,
            });
            this.subListData = res.shopCartOrders[0].shopCartItemDiscounts[0].shopCartItems;
            this.subListData.forEach(item => {
                if (item.distributionCardNo !== null) {
                    this.distributionCardNo.push(item.distributionCardNo);
                }
            });
            this.actualTotal = res.shopCartOrders[0].actualTotal.toFixed(2);
            this.transfee = res.shopCartOrders[0].transfee.toFixed(2);
            this.shopReduce = res.shopCartOrders[0].shopReduce.toFixed(2);
            this.total = res.total.toFixed(2);
            this.totalCount = res.totalCount.toFixed(2);
            // console.log(this.distributionCardNo);
            const { userAddr } = res;
            this.userAddr = userAddr;
        },
        goAddress() {
            this.$toPage({
                url: '/pages/address/editAddress/index',
            });
        },
        change(e) {
            this.show = e.show;
        },
        open() {
            this.$refs.popup.open();
        },
        close() {
            this.$refs.popup.close();
        },
        // 跳转收货地址
        toRec() {
            this.$toPage({
                url: '/pages/address/recAddress/index',
                query: {
                    type: 'order',
                    idList: this.idList,
                },
            });
        },
        async toPay() {
            const { orderNumbers } = await submit();
            const result = await pay({
                orderNumbers: orderNumbers,
                payType: 1,
            });
            delete result.appId;
            const res = await wx.requestPayment({
                nonceStr: result.nonceStr,
                package: result.packageValue,
                paySign: result.paySign,
                signType: result.signType,
                timeStamp: result.timeStamp,
            });
            this.changeShopIconNumber();
        },
    },
};
</script>

<style>
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f8f8f8;
    font-size: 30rpx;
}

.large-box-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dtt {
    margin-right: 20rpx;
}

.title {
    font-size: 36rpx;
    color: #8f8f94;
}

.imgs {
    width: 180rpx;
    height: 180rpx;
    display: inline-block;
    overflow: hidden;
}

.addAddress {
    width: 100%;
    background: #fff;
    line-height: 90rpx;
    display: flex;
    align-items: center;
    margin-bottom: 20rpx;
}

.newaddr image {
    width: 32rpx;
    height: 32rpx;
    margin-right: 20rpx;
    margin-left: 20rpx;
}

.ShopCarItems {
    background: #fff;
    display: flex;
    align-items: center;
    padding: 20rpx;
    border-bottom: 1px solid #ccc;
}

.prod-name {
    font-size: 30rpx;
    color: #333;
    max-height: 72rpx;
    line-height: 36rpx;
    display: -webkit-box;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.prod-info-text {
    color: #999;
    display: inline-block;
    -webkit-line-clamp: 1;
    height: 48rpx;
    line-height: 48rpx;
    background: #f9f9f9;
    padding: 0 10rpx 0 10rpx;
    border-radius: 4rpx;
    margin: 10rpx 0 0rpx 0;
    overflow: hidden;
    font-size: 24rpx;
    position: relative;
    font-family: arial;
}

.price {
    width: 100%;
    font-family: Arial;
    display: inline-block;
    padding-bottom: 10rpx;
    padding-left: 10rpx;
}

.symbol {
    font-size: 24rpx;
}

.big-num {
    font-size: 32rpx;
}

.small-num {
    font-size: 24rpx;
}

.large-box {
    display: flex;
}

.Goodsnumber {
    position: absolute;
    right: 10rpx;
    display: flex;
    width: 10%;
    color: #ccc;
}

.itemContent {
    width: 100%;
    margin-bottom: 30rpx;
    background: #fff;
}

.distribut {
    width: 100%;
    background: #fff;
}

.youhui,
.liuyan {
    width: 100%;
    height: 80rpx;
    display: flex;
    align-items: center;
    padding-left: 20rpx;
    padding-right: 20rpx;
    margin-left: 20rpx;
}

.youhui {
    border-bottom: 1px solid #ccc;
    justify-content: space-between;
}

.aboutPrice {
    width: 100%;
    background: #fff;
    margin-top: 20rpx;
    margin-bottom: 90rpx;
}

.Prices {
    width: 90%;
    height: 70rpx;
    display: flex;
    justify-content: space-between;
    padding: 16rpx;
    align-items: center;
}

.fontColor {
    color: #eb2444;
}

.submit-order-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 750rpx;
    background: #fff;
    margin: auto;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 26rpx;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.05);
}

.submit-order-footer .sub-order {
    flex: 1;
    margin: 0 30rpx;
    line-height: 100rpx;
    display: block;
    text-align: left;
    font-size: 28rpx;
}

.submit-order-footer .footer-box {
    padding: 0 10rpx;
    width: 200rpx;
    background: #eb2444;
    text-align: center;
    line-height: 100rpx;
    color: #fff;
}

.submit-order-footer .sub-order .item-txt .price {
    display: inline;
    color: #eb2444;
    font-size: 28rpx;
}

.allCount {
    width: 90%;
    text-align: right;
    background: #fff;
    height: 70rpx;
    line-height: 70rpx;
    padding: 10rpx;
}

.popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    height: 300px;
    background-color: #fff;
}
.popTit {
    display: flex;
    height: 60rpx;
    font-size: 40rpx;
    justify-content: space-between;
    align-items: center;
    padding: 20rpx;
    font-weight: bold;
}
.quanUse {
    width: 100%;
    display: flex;
    height: 60rpx;
    font-size: 34rpx;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
}
.delivery-addr {
    width: 100%;
    position: relative;
    background: #fff;
}
.addr-bg {
    padding: 0 39rpx 0 77rpx;
}
.addr-icon {
    width: 32rpx;
    height: 32rpx;
    display: block;
    position: absolute;
    left: 30rpx;
}
.user-info {
    padding-top: 20rpx;
    line-height: 48rpx;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.addr {
    font-size: 26rpx;
    line-height: 36rpx;
    color: #999;
    width: 90%;
    padding-bottom: 20rpx;
    margin-top: 15rpx;
}
.arrow {
    width: 15rpx;
    height: 15rpx;
    border-top: 2rpx solid #777;
    border-right: 2rpx solid #777;
    transform: rotate(45deg);
    position: absolute;
    right: 30rpx;
    top: 60rpx;
}
.addr-icon image {
    width: 100%;
    height: 100%;
}
.item {
    font-size: 30rpx;
    margin-right: 30rpx;
    vertical-align: top;
    display: inline-block;
}
</style>
